    <%= stylesheet_link_tag "custom/heidrick_and_struggles/style", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <div class='container page'>


        <!--%= image_tag "custom/heidrick_and_struggles/report_right_panel_graphic.png", class:"25%" %-->

    <div class="panel panel-primary col-md-offset-1 margin-bottom-x4 col-md-8">
    <div class="panel-heading">Team Accelerator</div>
      <div class="panel-body margin-bottom-x4">


        <h2>Welcome to the Team Accelerator Feedback Process</h2>

        <p>
          The Team Accelerator looks at the elements required for high performing teams and enables you to provide feedback on Thoughtworks: the way in which it operates and the effectiveness with which it tackles a range of issues.
        </p>

        <p>
        The questionnaire should take no more than 30 minutes to complete, although there is no time limit.
        </p>

        <p>
        Your feedback is confidential and anonymous. Individual responses will not be identified. Throughout the process, additional help and guidance is provided in the information panel on the right.
        </p>

        <p>
        Please note your data is secure and held in accordance with the provisions of the Data Protection Act.
        </p>

      </div>

        <div class="panel-body text-center">

        <%= link_to "Next", "", class:"btn btn-primary" %>

        </div>

      </div>



      </div>
    </div>
  </div>