body {
  background-color: #fff;
  padding-top: 30px;
}

.language-bar {
  margin-bottom: 15px;

  .language-label {
    font-weight: bold;
    padding-top: 7px;
    text-align: right;
  }

}


.scale-box {
  border: 1px solid $brand-primary;
  padding: $margin-unit;
}

.badge-1 {
  background: $scale-1-color;
}
.badge-2 {
  background: $scale-2-color;
}
.badge-3 {
  background: $scale-3-color;
}
.badge-4 {
  background: $scale-4-color;
}
.badge-5 {
  background: $scale-5-color;
}
.badge-0 {
  background: $scale-0-color;
  color: $brand-primary;
}