<header class="header-bi">
    <div class="pull-right">
        <a href="#" class="alink active">Logout</a>
    </div>
    <div class="pull-right">
        <a href="#" class="alink"><span class="material-icons">settings</span> <span>My Account</span></a>    
    </div>
    <br class="clear">
</header>
<div id="banner" class="container bn2">
    <div class="row">
        <div class="pull-left intro">
            <h1 class="h1__90">Your Personal Impact Experience Dashboard</h1>
            <div class="subtext">
                <p>This is the nerve centre of your Personal Impact Experience.</p> 
                <p>It's where you get started, where you can monitor progress and access your report... Let the experience begin!</p>
            </div>
            <div class="intro">
            <div class="subtext willshow">
                <p>This is the nerve centre of your Personal Impact Experience. It's where you get started, where you can monitor progress and access your report... Let the experience begin!</p>
            </div>
        </div>
        </div>
        <div class="pull-right flag flag__inst">
            <h2>Instructions</h2>
            <ol>
                <li>Decide who you want to give you feedback by clicking on Box 1 below</li>
                <li>Click on Box 2 to complete your own feedback</li>
                <li>Regularly check this Dashboard to see who has completed and who you might want to give a gentle nudge to</li>
                <li>After 21 days click on the Download button to see your report</li>
            </ol>
        </div>
        <br class="clear">

        

        <hr>

        <div class="boxes">
            <div class="pbox">
                <div class="num">1</div>
                <dl>
                    <dt class="dt__header dt__header--multi">Choose Your Insight Givers</dt>
                    <dd>
                        <p>Click on the 'Begin' Button and then type in the names of those you wish to get feedback from.</p>
                    </dd>
                </dl>

                <div class="bcont">
                    <a href="#" class="btn">Begin</a>
                </div>
            </div>

            <div class="pbox">
                <div class="num">2</div>
                <dl>
                    <dt class="dt__header">Give Yourself Feedback</dt>
                    <dd>
                        <p>Your view of you is really important and so you will only be able to click on the button after you have made your Insight Givers choices. This will take you to the Personal Impact Experience Questionnaire you have chosen, and you will be guided through completion.</p>
                    </dd>
                </dl>
                <div class="bcont">
                    <a href="#" class="btn active">Please Submit Nominations First</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="maincont">
    <div class="container">
        <div class="row">
            <div class="frm">
                <div class="cnt">3</div>
                <div class="rev col-md-6">
                    <h3>Completion Overview</h3>
                    <p>Below is a list of all your Insight Givers you have chosen with their completion status. If someone hasn't completed, why not have a chat and let them know how much you value their insight and encourage them to complete.</p>
                </div>
            </div>
            <br class="clear">
            <div class="igv">
                <div class="thead">
                    <span>Insight Giver</span>
                    <span>Status</span>
                </div>
                <div class="givers">
                    <div class="recs">
                        <span class="name">Paula Nelson</span>
                        <div class="stat">
                            <span class="date">Completed 07/01/20</span>
                            <span class="material-icons">check_circle</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Irene Brown</span>
                        <div class="stat inp">
                        <span class="material-icons">cancel</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Kenneth Harris</span>
                        <div class="stat">
                            <span class="date">Completed 29/12/19</span>
                            <span class="material-icons">check_circle</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Gregory Howard</span>
                        <div class="stat inp">
                        <span class="material-icons">cancel</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Michelle Moore</span>
                        <div class="stat inp">
                        <span class="material-icons">cancel</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Wayne Kelly</span>
                        <div class="stat">
                            <span class="date">Completed 02/01/20</span>
                            <span class="material-icons">check_circle</span>
                        </div>
                    </div>
                    <div class="recs">
                        <span class="name">Heather Evans</span>
                        <div class="stat">
                            <span class="date">Completed 02/01/20</span>
                            <span class="material-icons">check_circle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom container">
    <div class="row">
        <div class="dlp">
            <div class="num">4</div>
            <h3>Download Your Personal Impact Report</h3>
            <p>Your report will be made available here 21 days after you have selected your Insight Givers.</p>
            <p>Your report will show the feedback of those who have completed to date. If additional Insight Givers provide feedback at a later date, you can include their responses by re-downloading your report.</p>
            <a href="#" target="_blank" class="dlbtn willhide">Download Report</a>
        </div>
        <%= image_tag 'custom/king_personal_impact_experience/assessment/survey/book.jpg', class: 'book' %>
            <br>
            <a href="#" target="_blank" class="dlbtn willshow">Download Report</a>
    </div>
</div>