<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 42} %>        

<div class="main container">
	<div class="row">
		<h1>H&S QA Voice of the Rising Leader</h1>
		<p>In your responses below, please indicate the extent to which you agree or disagree to the following statements.</p>

		<div class="qna">
			<hr/>
			
			<p>Considering the contributions I make to the organization, I am paid fairly</p>
			<div class="rad">
				<div class="radio-item">
					<span>
						<input type="radio" name="a1" id="a1"/> 
						<label for="a1"><span style="width: 100px">Does not meet expectations</span></label>
					</span>
					<span class="custom_rad_val">0</span>
				</div>
				<div class="radio-item">
					<span><input type="radio" name="a1" id="a2"/><label for="a2"><span style="width: 100px">Partially meets expectations</span></label></span>
					<span class="custom_rad_val">1</span>
				</div>
				<div class="radio-item">
					<span><input type="radio" name="a1" id="a3"/> <label for="a3"><span style="width: 100px">Meets expectations</span></label></span>
					<span class="custom_rad_val">2</span>
				</div>
				<div class="radio-item">
					<span><input type="radio" name="a1" id="a4"/> <label for="a4"><span style="width: 100px">Exceeds expectations</span></label></span>
					<span class="custom_rad_val">3</span>
				</div>
				<div class="radio-item">
					<span><input type="radio" name="a1" id="a5"/> <label for="a5" ><span style="width: 100px">Far exceeds expectations</span></label></span>
					<span class="custom_rad_val">4</span>
				</div>
			</div>
			<hr />
			
			<p>When I talk about my company with others, I say positive things about it.</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a2" id="b1"/> <label for="b1">Strongly Disagree</label></span><span class="custom_rad_val">4</span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b2"/> <label for="b2">Disagree</label></span><span class="custom_rad_val">4</span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b3"/> <label for="b3">Neutral</label></span><span class="custom_rad_val">4</span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b4"/> <label for="b4">Agree</label></span><span class="custom_rad_val">4</span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b5"/> <label for="b5">Strongly Agree</label></span><span class="custom_rad_val">4</span></div>
			</div>
			<hr />

			<p>I am provided with the resources I need to get my work done.</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a3" id="c1"/> <label for="c1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c2"/> <label for="c2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c3"/> <label for="c3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c4"/> <label for="c4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c5"/> <label for="c5">Strongly Agree</label></span></div>
			</div>
			<hr />

			<p>I am excited about how my work contributes to my company's success.</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a4" id="d1"/> <label for="d1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d2"/> <label for="d2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d3"/> <label for="d3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d4"/> <label for="d4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d5"/> <label for="d5">Strongly Agree</label></span></div>
			</div>
			<hr />

			<p>I understand my job and what I have to do to be successful</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a5" id="e1"/> <label for="e1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e2"/> <label for="e2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e3"/> <label for="e3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e4"/> <label for="e4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e5"/> <label for="e5">Strongly Agree</label></span></div>
			</div>
			<hr />

			<p>The work I do is important to the success of the organization</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a6" id="f1"/> <label for="f1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f2"/> <label for="f2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f3"/> <label for="f3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f4"/> <label for="f4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f5"/> <label for="f5">Strongly Agree</label></span></div>
			</div>
			<hr />

			<p>I see a clear and achievable career path with this organization.</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a7" id="g1"/> <label for="g1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g2"/> <label for="g2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g3"/> <label for="g3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g4"/> <label for="g4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g5"/> <label for="g5">Strongly Agree</label></span></div>
			</div>
			<hr />

			<p>This organization offers me the career growth I desire.</p>
			<div class="rad">
				<div class="radio-item"><span><input type="radio" name="a8" id="h1"/> <label for="h1">Strongly Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h2"/> <label for="h2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h3"/> <label for="h3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h4"/> <label for="h4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h5"/> <label for="h5">Strongly Agree</label></span></div>
			</div>
			<hr />
			
		</div>

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'welcome', nxt:'2'} %>        
	</div>
</div>


