<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 21} %>        
<div class="main container">
	<div class="row">
		<h1>Leadership Capabilities and Agility & Potential</h1>
		<p>Select the response which best reflects your evalualtion</p>
		<div class="qna">
			<h2>I am a leader who...</h2>
			<hr/>
			<p><span class="nums">1a.</span> promotes use of robust data analytics in developing new digital initiatives.</p>
			<div class="rad com">
				<div class="radio-item cols-2"><span><input type="radio" name="a1" id="a1"/> <label for="a1"><span>Strongly<br>Disagree</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a2"/> <label for="a2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a3"/> <label for="a3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a4"/> <label for="a4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a5"/> <label for="a5">Strongly Agree</label></span></div>
			</div>
			<hr/>
			<p><span class="nums">1b.</span> evokes a strong sense of ownership in others for delivering results</p>
			<div class="rad com">
				<div class="radio-item cols-2"><span><input type="radio" name="a2" id="b1"/> <label for="b1"><span>Strongly<br>Disagree</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b2"/> <label for="b2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b3"/> <label for="b3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b4"/> <label for="b4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b5"/> <label for="b5">Strongly Agree</label></span></div>
			</div>
			<hr/>
			<p><span class="nums">1c.</span> ask questions to create clarity for others and self</p>
			<div class="rad com">
				<div class="radio-item cols-2"><span><input type="radio" name="a3" id="c1"/> <label for="c1"><span>Strongly<br>Disagree</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c2"/> <label for="c2">Disagree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c3"/> <label for="c3">Neutral</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c4"/> <label for="c4">Agree</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c5"/> <label for="c5">Strongly Agree</label></span></div>
			</div>
			<hr/>
		</div>
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Complete', prev:'9', nxt:'11'} %>        
	</div>
</div>