<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 14} %>        
In progress...

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'7', nxt:'9'} %>        
	</div>
</div>