<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 85} %>        
<div class="main container">
	<div class="row">
		<h1>Culture Fit & Impact: How You Succeed</h1>
		<p>Rank the following statements in order from greater to lesser based on what you believe have been the most critical factors to your success as a leader. To do so, click and drag each statementup or down. The initial has been randomly selected for you.</p>
		<p>Click and drag with your mouse or hold and drag with your finger if using a tablet.</p>
		<div class="qna">
			<hr/>
			<div class="qna">
				<ul id="sortable">
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Collaboration and Trust</b><br>Creating a frequent and two-way communication with people; fostering openness and trust among people with high levels of feedback and coaching.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Direction and Purpose</b><br>Providing sense of direction and porpose. Having clear alignment with, and connection to, achieving the organization's strategic goals.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Customer and Quality Focus</b><br>Having high focus on, and awareness of, quality and customer service.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Positive and Spirit/Vitality</b><br>Creating and environment where there is a teamwork, mutual support, and cooperation between and among people; where people are fun to be around, proud of what they do, and are willing to put an effort that is beyond normal expectations.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Appreciation</b><br>Appreciating and valuing people; recognizing	and rewarding performance.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Agility/Innovation/Growth</b><br>Encouraging people to innovate, create and be open to change. Empowering people and having a bias for action and an urgency to move forward.</span></li>
					<li><span class="material-icons">unfold_more</span> <span class="cont"><b>Performance Orientation</b><br>Having high expectations for performance and accountability for actions and results. Being self starter.</span></li>
				</ul>
			</div>
			<hr/>
		</div>
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'12', nxt:'14'} %>        
	</div>
</div>