<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont" %>        
<div class="main container">
	<div class="row">
		<h1>About You</h1>
		<p>The demographic information captured as part of the Infinity Framework Assessment is confidential and gathered by Heidrick & Struggles for research purposes only. It will not be used in conjunction with any Executive Search or Heidrick Consulting engagements.</p>
		<p>Heidrick & Struggles takes great care to respect and maintin your privacy and to ensure that your personal data is secure. We strip your survey response of all information that could identify you personally and retain all data on secure, encrypted servers. While responding to these questions is voluntary on your part, you help in collected this data greatly appreciated.</p>
		
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'4', nxt:'6'} %>        
	</div>
</div>