<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont" %>        
<div class="main container">
	<div class="row">
		<h1>Welcome</h1>
		<p>As part of a broader development exercise, you have been invited to complete the Infinity Framework Assessment, which will provide a comprehensive view into your personal leadership. Specifically, this assessment will provide insights into your current and future Pivotal Experiences and Expertise, Leadership Capabilities, Agility & Potential and Culture Fit & Impact.</p>
		<p>The Infinity Framework Assessment is composed of three modules. Each module will provide insights into core strengths and areas for development in your personal leadership and performance trajectory.</p>
		
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'3', nxt:'5'} %>        
	</div>
</div>