<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 96} %>        
<div class="main container">
	<div class="row">
		<h1>Additional Questions</h1>
		
		<div class="qna">
			<hr/>
			<p>What element of the organization's culture most closely aligns with your personal values?</p>
			<textarea></textarea>
			<hr>
		</div>

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'15', nxt:'17'} %>        
	</div>
</div>