<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 99} %>        


<div class="main container">
	<div class="row">
		<h1>Submit Survey</h1>
		<p>You have completed the H&S QA Voice of the Rising Leader Survey.</p>
		<p>Please click on the 'Complete' button below to submit your survey. Should you wish to review	any of your responses before submitting, please use the 'Back' button.</p>
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Complete', prev:'2', nxt:'4'} %>        
	</div>
</div>