<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 14} %>        


<div class="main container">
	<div class="row">
		<h1>Pivotal Experience and Expertise</h1>
		<p>In your responses below, please indicatethe extent to which you believe performance expectations are being met. Remember, your responses are confidential and will not be linked to you personally.</p>
		
		<div class="qna">
			<hr/>
			<p>Diversity & Inclusion: <span>Embracing advocating for, and including those with diverse backgrounds, perspectives, and cultures. Developing, implementing, and supporting diversity and inclusion initiatives.</span></p>
			<div class="rad com">
				<div class="radio-item"><span><input type="radio" name="a1" id="a1"/> <label for="a1">Limited Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a2"/> <label for="a2">Moderate Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a3"/> <label for="a3">Extensive Experience</label></span></div>
			</div>
			<hr>
			<p>Global Exposure: <span>Working or living internationally</span></p>
			<div class="rad com">
				<div class="radio-item"><span><input type="radio" name="a2" id="b1"/> <label for="b1">Limited Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b2"/> <label for="b2">Moderate Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b3"/> <label for="b3">Extensive Experience</label></span></div>
			</div>
			<hr>
			<p>High Growth Exposure: <span>Concieving and executing growth strategies including both organic and inorganic initiatives.</span></p>
			<div class="rad com">
				<div class="radio-item"><span><input type="radio" name="a3" id="c1"/> <label for="c1">Limited Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c2"/> <label for="c2">Moderate Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c3"/> <label for="c3">Extensive Experience</label></span></div>
			</div>
			<hr>
			<p>Industry and Sector Exposure: <span>Working in exact or adjacent industries or sector.</span></p>
			<div class="rad com">
				<div class="radio-item"><span><input type="radio" name="a4" id="d1"/> <label for="d1">Limited Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d2"/> <label for="d2">Moderate Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d3"/> <label for="d3">Extensive Experience</label></span></div>
			</div>
			<hr>
			<p>Organizational Transformation: <span>Leading the execution of major business turn around or transformation programs.</span></p>
			<div class="rad com">
				<div class="radio-item"><span><input type="radio" name="a5" id="e1"/> <label for="e1">Limited Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e2"/> <label for="e2">Moderate Experience</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e3"/> <label for="e3">Extensive Experience</label></span></div>
			</div>
			<hr>
		</div>

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'7', nxt:'9'} %>        
	</div>
</div>