<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 83} %>        
<div class="main container">
	<div class="row">
		<h1>Culture Fit & Impact: How You Lead</h1>
		<p>For each set of items, please select the extent to which one side or the other represents your point of view.</p>
		<div class="qna gbox">
			<div class="tbox">
				<div class="tth">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="parag la">I focus on high priority<br>relationship</span>
				</div>
				<div class="tth">
					<span class="parag ra">I have a broad array of individuals<br>in my network to draw upon</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			<div class="gcont">
				<div class="rad com2">
					<div class="radio-item"><span><input type="radio" name="a1" id="a1"/><label for="a1"><br>Extremely</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a2"/><label for="a2"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a3"/><label for="a3"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a4"/><label for="a4"><br>Neither</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a5"/><label for="a5"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a6"/><label for="a6"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a1" id="a7"/><label for="a7"><br>Extremely</label></span></div>
				</div>
			</div>
		</div>

		<div class="qna gbox">
			<div class="tbox">
				<div class="tth">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="parag la">Maintaining<br>personal balance.</span>
				</div>
				<div class="tth">
					<span class="parag ra">Personally<br>involved.</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			<div class="gcont">
				<div class="rad com2">
					<div class="radio-item"><span><input type="radio" name="a2" id="b1"/><label for="b1"><br>Extremely</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b2"/><label for="b2"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b3"/><label for="b3"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b4"/><label for="b4"><br>Neither</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b5"/><label for="b5"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b6"/><label for="b6"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a2" id="b7"/><label for="b7"><br>Extremely</label></span></div>
				</div>
			</div>
		</div>

		<div class="qna gbox">
			<div class="tbox">
				<div class="tth">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="parag la">Understanding other's ideas<br>is most important.</span>
				</div>
				<div class="tth">
					<span class="parag ra">Helping others to understand<br>my ideas is most important.</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			<div class="gcont">
				<div class="rad com2">
					<div class="radio-item"><span><input type="radio" name="a3" id="c1"/><label for="c1"><br>Extremely</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c2"/><label for="c2"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c3"/><label for="c3"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c4"/><label for="c4"><br>Neither</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c5"/><label for="c5"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c6"/><label for="c6"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a3" id="c7"/><label for="c7"><br>Extremely</label></span></div>
				</div>
			</div>
		</div>

		<div class="qna gbox">
			<div class="tbox">
				<div class="tth">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="parag la">The best offense<br>is a good defense.</span>
				</div>
				<div class="tth">
					<span class="parag ra">The best defense<br>is a good offense.</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			<div class="gcont">
				<div class="rad com2">
					<div class="radio-item"><span><input type="radio" name="a4" id="d1"/><label for="d1"><br>Extremely</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d2"/><label for="d2"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d3"/><label for="d3"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d4"/><label for="d4"><br>Neither</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d5"/><label for="d5"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d6"/><label for="d6"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a4" id="d7"/><label for="d7"><br>Extremely</label></span></div>
				</div>
			</div>
		</div>

		<div class="qna gbox">
			<div class="tbox">
				<div class="tth">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="parag la">I believe you should focus on attaining the<br>level of customer service the market demands</span>
				</div>
				<div class="tth">
					<span class="parag ra">I believe you should focus on attaining the<br>highest possible level of customer service</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			<div class="gcont">
				<div class="rad com2">
					<div class="radio-item"><span><input type="radio" name="a5" id="e1"/><label for="e1"><br>Extremely</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e2"/><label for="e2"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e3"/><label for="e3"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e4"/><label for="e4"><br>Neither</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e5"/><label for="e5"><br>Somewhat</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e6"/><label for="e6"><br>Strongly</label></span></div>
					<div class="radio-item"><span><input type="radio" name="a5" id="e7"/><label for="e7"><br>Extremely</label></span></div>
				</div>
			</div>
		</div>

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'11', nxt:'13'} %>        
	</div>
</div>