<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 72} %>        
<div class="main container">
	<div class="row">
		<h1>H&S QA Voice of the Rising Leader</h1>
		<p>In your responses below, please indicate the extent to which you believe performance expectations are being met. Remember, your responses are confidential and will not be linked to you personally.</p>

		<div class="qna">
			<hr/>
			<p>How would you rate your performance?</p>
			<div class="rad cols-2">
				<div class="radio-item"><span><input type="radio" name="a1" id="a1"/> <label for="a1"><span>Does not<br>meet expetations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a2"/> <label for="a2"><span>Partially meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a3"/> <label for="a3"><span>Meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a4"/> <label for="a4"><span>Exceeds<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a5"/> <label for="a5"><span>Far exceeds<br>expectations</span></label></span></div>
			</div>
			<hr />
			<p>How would you rate the performance of the organization?</p>
			<div class="rad cols-2">
				<div class="radio-item"><span><input type="radio" name="a2" id="b1"/> <label for="b1"><span>Does not<br>meet expetations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b2"/> <label for="b2"><span>Partially meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b3"/> <label for="b3"><span>Meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b4"/> <label for="b4"><span>Exceeds<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b5"/> <label for="b5"><span>Far exceeds<br>expectations</span></label></span></div>
			</div>
			<hr />
			<p>How would you rate the performance of your peers (people you work with accross the organization)?</p>
			<div class="rad cols-2">
				<div class="radio-item"><span><input type="radio" name="a3" id="c1"/> <label for="c1"><span>Does not<br>meet expetations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c2"/> <label for="c2"><span>Partially meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c3"/> <label for="c3"><span>Meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c4"/> <label for="c4"><span>Exceeds<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c5"/> <label for="c5"><span>Far exceeds<br>expectations</span></label></span></div>
			</div>
			<hr />
			<p>How would you rate the performance of your team or work group?</p>
			<div class="rad cols-2">
				<div class="radio-item"><span><input type="radio" name="a4" id="d1"/> <label for="d1"><span>Does not<br>meet expetations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d2"/> <label for="d2"><span>Partially meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d3"/> <label for="d3"><span>Meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d4"/> <label for="d4"><span>Exceeds<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d5"/> <label for="d5"><span>Far exceeds<br>expectations</span></label></span></div>
			</div>
			<hr />
			<p>How do you think your manager would rate your performance?</p>
			<div class="rad cols-2">
				<div class="radio-item"><span><input type="radio" name="a5" id="e1"/> <label for="e1"><span>Does not<br>meet expetations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e2"/> <label for="e2"><span>Partially meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e3"/> <label for="e3"><span>Meets<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e4"/> <label for="e4"><span>Exceeds<br>expectations</span></label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e5"/> <label for="e5"><span>Far exceeds<br>expectations</span></label></span></div>
			</div>
			<hr />
		</div>

		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'1', nxt:'3'} %>        
	</div>
</div>