<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 21} %>        
<div class="main container">
	<div class="row">
		<h1>Complete Pivotal Experiences<br>and Self-Evaluation</h1>
		<p>You have completed the Pivotal Experiences and Expertise Self-Evaluation. Please click on the 'Next' button below to conclude and to continue onto the second module pertaining to your Leadership Capabilities and Agility & Potential.</p>
		<p>Should you wish to review any of your responses before submitting, please click the 'Back' button.</p>
		<p>Your data is saved automatically should you wish to pause before continuing to the next module.</p>
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Complete', prev:'8', nxt:'10'} %>        
	</div>
</div>
