<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 88} %>        
<div class="main container">
	<div class="row">
		<h1>Culture Fit & Impact: How You Think</h1>
		<p>For each set of items, please select the extent to which one side or the other represents your point of view.</p>
		<hr/>
		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am a team player.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a1" id="a1"/><label for="a1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a2"/><label for="a2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a3"/><label for="a3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a4"/><label for="a4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a5"/><label for="a5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a6"/><label for="a6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a1" id="a7"/><label for="a7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am a individualistic.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am demonstrative.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a2" id="b1"/><label for="b1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b2"/><label for="b2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b3"/><label for="b3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b4"/><label for="b4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b5"/><label for="b5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b6"/><label for="b6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a2" id="b7"/><label for="b7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am calm.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am assertive.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a3" id="c1"/><label for="c1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c2"/><label for="c2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c3"/><label for="c3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c4"/><label for="c4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c5"/><label for="c5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c6"/><label for="c6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a3" id="c7"/><label for="c7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am cautious.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am steadfast.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a4" id="d1"/><label for="d1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d2"/><label for="d2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d3"/><label for="d3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d4"/><label for="d4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d5"/><label for="d5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d6"/><label for="d6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a4" id="d7"/><label for="d7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am excitable.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am responsive.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a5" id="e1"/><label for="e1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e2"/><label for="e2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e3"/><label for="e3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e4"/><label for="e4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e5"/><label for="e5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e6"/><label for="e6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a5" id="e7"/><label for="e7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am persistent.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am inquisitive.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a6" id="f1"/><label for="f1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f2"/><label for="f2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f3"/><label for="f3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f4"/><label for="f4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f5"/><label for="f5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f6"/><label for="f6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a6" id="f7"/><label for="f7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am declarative.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am task oriented.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a7" id="g1"/><label for="g1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g2"/><label for="g2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g3"/><label for="g3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g4"/><label for="g4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g5"/><label for="g5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g6"/><label for="g6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a7" id="g7"/><label for="g7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am people oriented.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I accommodate others.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a8" id="h1"/><label for="h1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h2"/><label for="h2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h3"/><label for="h3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h4"/><label for="h4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h5"/><label for="h5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h6"/><label for="h6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a8" id="h7"/><label for="h7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I assert control.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I value continued exploration.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a9" id="i1"/><label for="i1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i2"/><label for="i2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i3"/><label for="i3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i4"/><label for="i4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i5"/><label for="i5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i6"/><label for="i6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a9" id="i7"/><label for="i7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I seek decision closure.
			</div>
		</div>
		<hr/>

		<div class="qna resp_3box rbox">
			<div class="pbox la col-md-3">
				I am private.
			</div>
			<div class="rad com3 col-md-6">
				<div class="radio-item"><span><input type="radio" name="a10" id="j1"/><label for="j1"><br>Extremely</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j2"/><label for="j2"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j3"/><label for="j3"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j4"/><label for="j4"><br>Neither</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j5"/><label for="j5"><br>Somewhat</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j6"/><label for="j6"><br>Strongly</label></span></div>
				<div class="radio-item"><span><input type="radio" name="a10" id="j7"/><label for="j7"><br>Extremely</label></span></div>
			</div>
			<div class="pbox ra col-md-3">
				I am social.
			</div>
		</div>
		<hr/>
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'13', nxt:'15'} %>        
	</div>
</div>