<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont_progress", locals: {progress: 100} %>        
<div class="main container">
	<div class="row">
		<h1>Thank You</h1>
		<p>Thank you for completing this survey.</p>
		<p>For more information, please visit <a href="https://www.heidrick.com" target="_blank">www.heidrick.com</a></p>
    
    <%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Complete', prev:'17', nxt:'privacy'} %>        

	</div>
</div>