
<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/topcont" %>        
<div class="main container">
	<div class="row">
		<h1>Welcome</h1>
		<p>Welcome to the Voice of the Rising Leader Survey</p>
		<p>This survey will ask you to respond to a series of questions about your views of, and opinions on, you work. Your responses are confidential and will not be reported at an individual level. All the information gathered in this survey will be analyzed and reported at aggregate and group only.</p>
		<p>In this section of the survey, we would like to consider your level of agreement  with each statement on a scale from Strongly Disagree to Strongly Agree</p>
		
		<%= render :partial => "partials/custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/direction", 
    locals: {txt:'Next', prev:'privacy', nxt:'1'} %>        
	</div>
</div>