<div class="banner">
            <div class="container">
                <div class="info">
                    <h1>Welcome to the GBS <br/>
                        SPP Pay It Forward trusted <br/>
                        advisor awareness survey</h1>

                    <p>You are participating in a 270 feedback. This will
                    provide individuals participating in the GBS SPP
                    Pay it Forward programme with valuable information
                    and insights to support them in their development
                    journey to becoming an exceptional trusted advisor
                    to business partners across the Bank.</p>

                    <button class="btn next-btn btn-lg" type="button" >
                        <p class="btn-text">Get started</p>
                        <%= image_tag 'custom/standard_chartered/assessment/survey/button-arrow.png', class: 'arrow' %>
                    </button>
                </div>
                <%= image_tag 'custom/standard_chartered/assessment/survey/people.png', class: 'img-responsive people' %>
            </div>
        </div>

        <div class="container">
            <h3>This survey has five parts for you to complete:</h3>
        </div>

        <div class="section-gray">
            <div class="container">
                    <div class="parts">
                        <div class="parts-step">
                            <span class="number">1</span>
                        </div>
                        <div class="parts-step">
                            <span class="number">2</span>
                        </div>
                        <div class="parts-step">
                            <span class="number">3</span>
                        </div>
                        <div class="parts-step">
                            <span class="number">4</span>
                        </div>
                        <div class="parts-step">
                            <span class="number">5</span>
                        </div>
                    </div>

                    <div class="parts-content">
                        <div class="pc">
                            <div>
                                <lead> Part One</lead>
                                <p>Becoming a fully effective trusted advisor</p>
                            </div>
                        </div>
                        <div class="pc">
                            <div>
                                <lead> Part Two</lead>
                                <p>Valued Behaviors</p>
                            </div>
                        </div>
                        <div class="pc">
                            <div>
                                <lead> Part Three</lead>
                                <p>Trusted advisor outlook</p>
                            </div>
                        </div>
                        <div class="pc">
                            <div>
                                <lead> Part Four</lead>
                                <p>Your strengths and development areas</p>
                            </div>
                        </div>
                        <div class="pc">
                            <div>
                                <lead> Part Five</lead>
                                <p>Open comments</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>