<div class="container-fluid">      
    <%= render :partial => "partials/custom/standard_chartered/assessment/participant/step_wizard", locals: {active: 2} %>        

    <form role="form" action="/standard_chartered/assessment/participant/part/3" method="get">
        <div class="container">
            <div class="row setup-content" id="step-1">
                <div class="col-12">
                    <h1><span class="h1-bold">Part Two:</span>  Valued Behaviours </h1>

                    <p class="bold-p">Values are the important beliefs or ideals shared by a community about what is good or bad, desirable and undesirable. </p>
                    <p>They act as guiding principles that have a major influence on a person’s behaviour and attitude. In Standard Chartered our leaders shape our organisational
                            culture by living and leading our Valued Behaviours in everything they do. Our decisions and actions flow from them. </p>

                    <div class="behaviors">
                        <p class="bold-p">1. Choose the top three Valued Behaviours that you see demonstrated the most by the participant.</p>

                        <div class="row choices">
                            <div class="col-md-4 col-sm-12">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Live with integrity</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Learn from your successes and failures</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Live with integrity</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="behaviors">
                        <div class="q-2"><p class="bold-p">2. Which ones could they demonstrate more in their role. </p><p> (choose up to three)</p></div>

                        <div class="row choices">
                            <div class="col-md-4 col-sm-12">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Live with integrity</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Learn from your successes and failures</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Live with integrity</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">Continuously improve and innovate</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" aria-label="...">
                                        <div class="card">
                                            <div class="card-text">See more in others</div>
                                            <div class="card-icon"><span class="material-icons">checked</span></div>
                                        </div>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="behaviors">
                        <p class="bold-p">3. What could they do to demonstrate our Valued Behaviours more in their current role?</p>
                        <div class="div-textarea">
                            <textarea rows="10"></textarea>
                        </div>
                    </div>

                    <hr>

                    <div class="behaviors">
                        <p class="bold-p">4. How could they help others to demonstrate our Valued Behaviours more effectively?</p>
                        <div class="div-textarea">
                            <textarea rows="10"></textarea>
                        </div>
                    </div>

                    <button class="btn next-btn btn-lg pull-right" type="submit" data-disable-with="Part three" >
                        <p class="btn-text">Part three</p>
                        <%= image_tag 'custom/standard_chartered/assessment/survey/button-arrow.png', 'class':'arrow' %></button>
                    
                </div>
            </div>
        </div>
    </form>

</div>




