<div class="container">

  <div class="margin-bottom-x2">
    PHOTOBUG LEADERS
  </div>

  <!-- Panel Start -->
  <div class="margin-top main360-2 col-md-12">
    <div class="row">

      <!-- Progress bar -->

      <div class='col-md-4 col-md-offset-8 text-center margin-bottom'>
        <div class="row progressbar-row">
          <div class="col-xs-8 progress-bar-left">
            <div class="progress">
              <div class="progress-bar" role="progress-bar" style="width: 16%">
              </div>
            </div>
          </div>
          <div class="col-xs-4 progress-bar-right">
            16% Complete
          </div>
        </div>
      </div>

      <!-- Question Start -->

      <div class="col-md-12">
        <div class="factor-name">
          What are the key strenths you should continue to build on?
        </div>

        <%= text_area(:post, :body, cols: 135, rows: 10) %>


        <!-- Navigation -->


        <div class='col-md-12'>
          <div class='margin-top-x2 row margin-bottom-x2'>

            <div class='col-sm-2 text-left margin-top'>
              <%= link_to "Back", cirrus_connected_leadership_scale_questions_path, class:'btn btn-primary btn-block' %>
            </div>
            <div class=" col-sm-2 col-md-offset-8 text-right margin-top">
              <%= link_to "Next", cirrus_connected_leadership_thank_you_path, class:'btn btn-block btn-primary' %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer margin-top-x4">
</div>