<div class="page page-border questionnaire margin-top">
  <div class="container">
    <div class="col-md-6 text-left margin-top margin-bottom-x2">
      PHOTOBUG LEADERS
    </div>
  </div>

  <!-- Background -->

  <div class='main360-1 col-md-12'>
    <div class="container">

      <!-- Content box -->

      <div class="content-box col-md-6">
        <div class="col-md-12">


          <h1>Welcome to your Connected Leadership 360</h1>


          <p>
            Thank you for agreeing to provide 360 feedback and contributing to your colleague's leadership development. Your perspectives, and that of others, will help the individual understand better the impact and effectiveness of their behaviour against the Connected Leadership framework.
          </p>

          <p>
            Unless you are the individual's line manager, your responses will remain anonymous as this questionnaire has been sent to several other people in addition to yourself. Your responses will appear as an average score across your category. Please note the written comments will not be edited. For more information on the process please refer to this guide.
          </p>

          <p>
            When answering the questions use the scale as a guide and ensure that you use the full range of the scale. For the purposes of security we recommend you answer all the questions in one sitting and ensure you press 'complete questionnaire' at the end to submit your responses. The questionnaire will take approximately 15 minutes.
          </p>


          <h3>Our Privacy policy</h3>

          <p>
            The Cirrus Connect Privacy explains how information is colelcted and managed as part of the 360, see <%= link_to "here", "http://cirrus-connect.com/privacy-cookies-policy/", id:"privacy" %> for more details.
            To accept our policy and proceed to the questionnaire please check the box below.
          </p>

          <p>
            <%= check_box_tag(value = "1", checked = false, options = {}) %> I agree for the information to be used in accordance with the Cirrus Connect Privacy Policy
          </p>

          <p>
            If you do not wish to take part, please let us know.
          </p>

          <div class="margin-top col-md-3">

            <%= link_to "Start", cirrus_connected_leadership_scale_introduction_path, class:'btn btn-primary btn-block' %>

          </div>
        </div>
      </div>

    </div>
  </div>


    <!-- Footer -->

  <div class="row">
    <div class="footer360-1 col-md-12"></div>
    </div>
  </div>

</div>

