<div class="page page-border questionnaire margin-top">
  <div class="container">

    PHOTOBUG LEADERS


<!-- Background <div class="main360-1"> -->

    <div class="header360-2 col-md-12">
      &nbsp;
    </div>

    <!-- Scale -->

     <div class='main360-2 col-md-12'>
        <div class="content-box col-md-12">
          <div class="row">
            <div class="col-md-12">



              <h1>Scale</h1>

              <p>
                Please use the full scale when answering the questions. These definitions should help you estimate the most accurate and honest response. Try not to overthink it and follow your best judgement.
              </p>


              <div class="col-md-12">
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head-last">
                      N/A  =  Not Observed
                    </div>
                    <div class="col-md-12 scale-body-last">
                      No opportunity to demonstrate
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Very Rarely
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour less than 10% of the time
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Rarely
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour more than 10% of the time but less than 30%
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Sometimes
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour more than 30% of the time but less than 50%
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Often
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour more than 50% of the time but less than 70%
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Usually
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour more than 70% of the time but less than 90%
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-md-1-5">
                  <div class="row">
                    <div class="col-md-12 scale-head">
                      Almost Always
                    </div>
                    <div class="col-md-12 scale-body">
                      Demonstrates the behaviour more than 90% of the time
                    </div>
                  </div>
                </div>
              </div>

              <!-- Navigation Buttons -->

              <div class="col-md-12 margin-top-x3">
                <div class="col-sm-2 margin-top">
                  <%= link_to "Back", cirrus_connected_leadership_introduction_path, class:'btn btn-block btn-primary' %>
                </div>
                <div class="col-sm-2 col-sm-offset-8 text-right margin-top">
                  <%= link_to "Next", cirrus_connected_leadership_scale_questions_path, class:'btn btn-block btn-primary' %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="footer360-2 col-md-12">&nbsp;</div>
    </div>

  </div>
</div>

<%= image_tag "custom/cirrus/connected_leadership/footer-bg.png", height:'100%', width:'100%' %>