<div class="page page-border questionnaire margin-top">

  <div class=" container text-left margin-bottom-x2">
    PHOTOBUG LEADERS
  </div>

  <div class="main360-1 col-md-12">
    <div class="container">


    <!-- Background <div class="main360-1"> -->

      <div class=" content-box col-md-6">
        <div class="margin-bottom-x4">

          <h1>Thank you.</h1>

          <p>
            Thank you for completing your self assessment questionnaire.
          </p>

          <p>
            When all of your contributors complete their questionnaires, the responses witll be collated in a comprehensive report for you. This report summarises your strengths and development aread, providing you with information to support your leadership development.
          </p>

          <p>
            Would you like to find out more about Connected Leadership? Visit our website <%= link_to "here", "http://cirrus-connect.com/connected-leadership/" %>.
          </p>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="footer360-1 col-md-12">
</div>