<div class="page page-border questionnaire margin-top">
  <div class="container">

    <div class="text-left margin-bottom-x2">
      PHOTOBUG LEADERS
    </div>

    <!-- Background <div class="main360-1"> -->

    <div class="content-box">
      <div class="col-md-6 margin-bottom-x4">

        <h1>Thank you.</h1>

        <p>
          Thank you for completing your self assessment questionnaire.
        </p>

        <p>
          When all of your contributors complete their questionnaires, the responses witll be collated in a comprehensive report for you. This report summarises your strengths and development aread, providing you with information to support your leadership development.
        </p>

        <p>
          Would you like to find out more about Connected Leadership? Visit our website <%= link_to "here", "http://cirrus-connect.com/connected-leadership/" %>
        </p>
      </div>
    </div>

  </div>
</div>

<%= image_tag "custom/cirrus/connected_leadership/cirrus-w_o-bg.png", width:'100%', height:'100%' %>