	<div class="col-6 tprog">
			<div class="inl">
				<div class="progbar">
					<div class="fill" style="width:<%= progress %>%;">
					</div>
				</div>
			</div>
			<div class="inl">
				<p class="progtext"><%= progress %>% Complete</p>
			</div>
		</div>