<div class="container-fluid hidden-xs">
  <div class="row p-5">

    <%= render :partial => "partials/custom/quintet/richer_life/questionnaire/ol_desktop", locals: {active: active} %>

    <div class="col-lg-2 col-md-2 col-sm-3 pt-3">
            <div class="d-flex justify-content-end">
                <div class="p-2  nextPrev">
                    <div class="buttonNext-bg">
                            <a href="<%=left%>"><button class="buttonNext"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button></a>
                    </div>
                </div>
                
                <div class="p-2 nextPrev" style="display:<%= right != ''?'':'none' %>">
                    <div class="buttonNext-bg">
                            <a href="<%=right%>"><button class="buttonNext"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></a>
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</div>