<input type="text" placeholder="First Name" class="fl" id="fname"/>
<input type="text" placeholder="Last Name" class="fr" id="lname"/>
<input type="text" placeholder="Email Address" class="fl" id="email"/>
<select class="fr" id="ctype">
	<option value="">Colleague Type</option>
	<option value="CEO">CEO</option>
	<option value="Manager">Manager</option>
	<option value="President">President</option>
	<option value="Secretary">Secretary</option>
</select>
<br class="clear">
	<input type="button" class="btn-outline" value="Add">