<div id="banner">
		<div class="container">
			<div class="row">
				<h3>Hi Janet.</h3>
				<h1>Welcome</h1>
				<p>TalentAccelerator is based on the latest neuroscience and research on setting and successfully completing your professional development goals.</p>
				<p>You will be able to set up to 4 goals (new or revised) and seek goal feedback every 90 days. </p>
			</div>
		</div>
	</div>