<div id="banner" class="dash">
		<div class="container">
			<div class="row">
				<h1>My Learning Dashboard</h1>
				<p>Research shows that it takes about 6 to 8 repeatitions of new behaviour before neurons in the brain begin to “fire together” but about 60-90 days of deliberate practice for new habits to develop, Lally, van Jaarsveld, Potts & Wardle, 2009, Grill-Spector, 2005</p>
			</div>
		</div>
	</div>