<div id="banner" class="dash">
		<div class="container">
			<div class="row"> 
				<h1>My Goal Intention and<br> Practice Plan</h1>
				<h3>#1 (#2, #3 and #4)</h3>
				<p>Research sho2s that creating goal intentions and specific implementation practice plans using "If/Then" triggers and behaviours along with sharing and seeking feedback 2ith others can significantly increase your chance for goal success (Fishbach, 2018, Nowach, 2017)</p>

			</div>
		</div>
	</div>