<div id="banner" class="dash">
		<div class="container">
			<div class="row"> 
				<h1>Participant Goal Feedback Dashboard Results</h1>
				<p>We all love to see how we are progressing and improving. As your colleogues/goal mentors you invited provide feedback on your specific Goal Intentions your results will appear below comparing your own self-assessment with those from others.</p>
			</div>
		</div>
	</div>