<div class="container">
		<header class="home">
			<div class="row">
        <a href="page_1">
          <%= image_tag 'custom/talent_accelerator/assessment/survey/logo.png', class: 'logo1' %>
        </a>
				<br class="clear">
			</div>
		</header>
	</div>