<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard" %>
<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_goal_3", locals: {cont: "6 Suggestions for Successfully Translating Your Goal Into a Habit"} %>
<div id="maincont">
	<div class="container">
		<div class="row dash">
			<ol class="dash">
        <li>
          <span class="inl">
          If you ore still struggling with the achievement of your goal, give others advice instead of seeking it. People struggling with motivation will benefit more from giving advice than receiving it by boosting confidence and facilitating successful "change talk" (Eskreis-Winkler, Fishboch & Duckworth, 2018}.
					</span>
        </li>
        <li>
          <span class="inl">
          If you ore still struggling with the achievement of your goal, break up your initial goals into smaller subgoals. Research hos found that 􏰣eo􏰣le ore more li􏰢ely to slac􏰢 off and become more disengagement and loc􏰢ing in motivation around the middle of a project (Fishboch, 2018).
          </span>
        </li>
        <li>
          <span class="inl">
          Increase fun to increase your persistence. Fun is a better predictor of working on a goal (e.g., physical activity} than per- ceived importance (Woolley & Fishboch, 2018). We don't always find all aspects of jobs or get assignments we love-the trick Is to focus on the elements of the work that you do find enjoyable (e.g., listen to music, do boring things with others you en􏰡oy, wor􏰢ing at a coffee sho􏰣 doing monotonous tas􏰢s).
          </span>
        </li>
        <li>
          <span class="inl">
          “Neurons that fire together get wired together” so the key to successful behavior change is to do it again (and again). It tokes about 6-8 repetitions in behavior to begin neuro wiring (Grill-Spector et al., 2005) but 60-90 days to make new behaviors automatic (Lally et al., 2009}.
          </span>
        </li>
        <li>
          <span class="inl">
          What's com􏰣leted vs. what􏰤s le􏰥 to do􏰦 􏰞hen starting a new goal, focus on com􏰣leted 􏰣rogress in the beginning of your goal 􏰣ursuit and remaining 􏰣rogress le􏰥 at the end to maximi􏰠e motivation (􏰧one􏰠􏰠i et al., 2011). 􏰈here is greater motivation when people focus on completed (vs. lock of) progress at the beginning and lock of progress (vs. completed) toward the end of goal pursuit.
          </span>
        </li>
        <li>
          <span class="inl">
          Sometimes quitting your goal is actually better for your health. Research suggests that it may be more prudent to cut one's losses in the face of insurmountable obstacles to remain healthy (Miller, & Wrosch, 2007).
          </span>
        </li>

			<br class="clear"><br>
			<div class="botcont">
				<a href="page_<%= pg-2 %>" class="prog fl">Prev</a>
				<a href="page_<%= pg %>" class="prog fr">Next</a>
				<br class="clear">
			</div>
		</div>
	</div>
</div>
