<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard" %>
<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_generic", locals: {cont: "6 Suggestions for Successfully Getting Started and Working on Your Goal"} %>
<div id="maincont">
	<div class="container">
		<div class="row dash">
			<ol class="dash regtxt">
        <li>
          <span class="inl">
          Meet with your manager to share your goal and seek their support and ongoing feedback about your goal progress.
					</span>
        </li>
        <li>
          <span class="inl">
          Initiate periodic meetings with the colleagues/goal mentors to share your goal progress, solicit their ideas and opinions to overcome barriers and seek ongoing feedback to improve.
          </span>
        </li>
        <li>
          <span class="inl">
          Goals and Not Chores: How did you rate your initial commitment and motivation level? Ask yourself to express out loud what the benefits are to successfully achieving your goal. Research shows that change talk and reflection about one's commitment level is associated with enhanced motivation for change, and motivation is associated with increased likelihood of actual change (Miller & Rollnick, 2009).
          </span>
        </li>
        <li>
          <span class="inl">
          Analyse your Rewards: Use your internal rewards to increase the likelihood of succeeding in your new habit change effort (Fishbach, 2019). Setting goals you find intrinsically motivating tend to result in better outcomes than those with external rewards or punishments associated with them.
          </span>
        </li>
        <li>
          <span class="inl">
          Make sure you are creating a "trigger” (situation, time, and existing habit) to help you practice the behavior(s) related to your goals. In one study, people who used if/then triggers to set goals increased compliance with doing self-breast exams from 53% to 100% and increased exercising regularly from 39% follow-through to 91% follow-through (Grant, 2014).
          </span>
        </li>
        <li>
          <span class="inl">
          Create a relapse plan. When people are fatigued, tired and stressed they tend to treat “Iapses” as great excuses to minimize the importance of the goal and relapse.
          </span>
        </li>

			<br class="clear"><br>
			<div class="botcont">
				<a href="page_<%= pg-2 %>" class="prog fl">Prev</a>
				<a href="page_<%= pg %>" class="btn1 fr">Finish</a>
				<br class="clear">
			</div>
		</div>
	</div>
</div>
