<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard_main" %>
<div id="maincont">
	<div class="container">
		<div class="row dash">
			<h1 class="purp">Thank you!</h1>
			<br>	
			<p><%= thank_msg %></p>
			<p><%= cont %></p>
			<p>Best wishes!</p>
			<br class="clear"><br>
			<div class="botcont">
				<a href="page_<%= pg %>" class="btn1">Dashboard</a>
			</div>
		</div>
	</div>
</div>