<div style="width: 60%; margin: 20px auto; text-align:center;">
  <p><a href="/quintet/richer_life/login">Login</a></p>
  <p><a href="/quintet/richer_life/introduction">Introduction</a></p>
  <p><a href="/quintet/richer_life/data_policy">Data Processing Policy</a></p>
  <p><a href="/quintet/richer_life/barometer">Barometer</a></p>
  <p><a href="/quintet/richer_life/s1_statement">S1 Statement</a></p>
  <p><a href="/quintet/richer_life/s2_statement">S2 Statement</a></p>
  <p><a href="/quintet/richer_life/s3_statement">S3 Statement</a></p>
  <p><a href="/quintet/richer_life/s4_statement">S4 Statement</a></p>
  <p><a href="/quintet/richer_life/s5_statement">S5 Statement</a></p>
  <p><a href="/quintet/richer_life/s5_quotations">S6 Quotations</a></p>
  <p><a href="/quintet/richer_life/s7_books">S7 Books</a></p>
  <p><a href="/quintet/richer_life/s8_headlines">S8 Headlines</a></p>
  <p><a href="/quintet/richer_life/submit">Submit</a></p>
  <p><a href="/quintet/richer_life/logout">Logout</a></p>
</div>