<div class="container-fluid solid-background px-0">

    <div class="intro">
        <div class="row p-5">
        <h1>RICHER LIFE BAROMETER</h1>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9">
                <h3>Introduction</h3>
                <p>Each of us define success in life in different ways and different strategies are required to achieve
                    the different goals to which we aspire. <br/> <br/> The Richer Life Profiler is a self assessment
                    questionnaire designed to help you take stock of what is important to you in life. <br/> <br/>
                    You will receive a personal report profiling out your results and we hope you find it valuable in planning 
                    out the next steps in your life. <br/> <br/> As part of our wider research programme we will also send on a
                    summary of the findings over-viewing the strategies indicative of different life outcomes. <br/> <br/> The questionnaire - a 
                    mix of different response formats - is structured around a number of themes and in total should take 15 minutes 
                    to complete. We hope you find the completion of the questionnaire stimulating and thought-provoking.
                    <br/> <br/> Please note your data is secure and held in accordance with the provisions of the General Data Protection Regulations (GDPR).
                </p>
                <h3 class="pt-3">Confirmation of Privacy Policy</h3>
                
                <div class="agree d-flex">
                    <input type="checkbox" checked="checked">
                    <p class="pl-3">To accept our Privacy Policy and complete the online questionnaire please check the box.
                    <br/> <br/> I agree for the information to be used in accordance with our Privacy Policy. <a href="data_policy" class="link-2">More Details</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="px-5 pb-5 hidden-lg hidden-md visible-sm visible-xs">
            <div class="d-flex justify-content-end p-5">
                <div class="nextPrev">
                    <div class="buttonNext-bg">
                        <button class="buttonNext">
                            <a href="bio_details"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid  hidden-sm hidden-xs">
    <div class="d-flex justify-content-end p-5">
        <div class="nextPrev">
            <div class="buttonNext-bg">
                
                    <a href="bio_details"><button class="buttonNext"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></a>
                
            </div>
        </div>
    </div>
</div>