<div class="container-fluid main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 ">
                <div class="text-center p-5 sign-in">
                    <h1>LOG-IN</h1>
                    <p> Please use your email address and password to enter the feedback system.</p>
                    <p>If you cannot remember your password, use the 'Forgot Your Password?' link to select a new one</p>
                    <form action="introduction">
                    <div class="d-flex justify-content-center p-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="input-group input-group-lg">
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
                        </div>
                    </div>

                    <div class=" d-flex justify-content-center p-4">
                        <div class="button5-bg">
                            <button class="button5">GO</button>
                        </div>
                    </div>
                    </form>
                    <a href="" class="link">Forgot your Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  hidden-sm hidden-xs">
    <div class="d-flex justify-content-end p-5">
        <div class="nextPrev">
            <div class="buttonNext-bg">
                
                    <a href="introduction"><button class="buttonNext"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></a>
                
            </div>
        </div>
    </div>
</div>