<div class="container-fluid main-container stmt">

  <div class="py-5">
    <div class="text-center">
      <h1>ADMIRING THOSE IN LIFE WHO:</h1>
    </div>

    <div class="p-5">

      <div class="d-flex range-container">
        <div class="p-2">
          <h3 class="range-left">have a wide circle of friends and connectons from a range of different backgrounds</h3>
        </div>

        <div class="range p-2">
          <div class="box-wrapper">
            <div class="line"></div>
            <div class="box">
            </div>
            <div class="box-reverse active">
            </div>

            <input type="range" min="1" max="100" value="100" class="slider" id="range">
          </div>
        </div>

        <div class="p-2">
          <h3 class="pTop range-right">are fun loving individuals who know to enjoy life to the full</h3>
        </div>
      </div>

    </div>
  </div>

  <div class="p-5 hidden-xs"></div>

  <%= render :partial => "partials/custom/quintet/richer_life/questionnaire/direction_mobile", locals: {active: 2, left:'s1_statement', right:'s3_statement'} %>

</div>

<%= render :partial => "partials/custom/quintet/richer_life/questionnaire/direction_desktop", locals: {active: 2, left:'s1_statement', right:'s3_statement'} %>