<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_home" %>
<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_home" %>

<div id="maincont">
	<div class="container">
		<div class="row">
			<p>TalentAccelerator is designed to help translate insight from your coaching, training or assessments into deliberate practice and Goal/ Progress evaluation to facilitate learning transfer.</p>
			<p>As part of your development you're being asked to enter an initial goal to help you be more effective in your current position. If you are working with a coach, this might be one you have set together.</p>
			<div class="botcont">
				<a href="page_2" class="btn1">Set My First Goal</a>
			</div>
		</div>
	</div>
</div>