<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard_main" %>
<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_dashboard_main" %>

<p class="p-lead">Each square represents a different goal intention and which step of the process you're currently at for that goal.</p>

<div id="maincont" class="lightgray">
	<div class="container">
		<div class="row dash">
			<div class="cards">
				<dl class="fl">
					<dt>This is my goal. The text of this goal will go here.</dt>
					<dd>
						<div class="comm">
							<span class="fl">Commitment: 7/10</span>
							<a href="#" class="fr">View Reward</a>
							<br class="clear">
						</div>
						<h4>Goal feedback results</h4>
						<div class="gcont">
							<div class="graph">
								<div class="bars">
									<div class="b1" style="width: 100%"></div>
									<div class="b2" style="width: 40%"></div>
								</div>
								<div class="bars">
									<div class="b1" style="width: 70%"></div>
									<div class="b2" style="width: 100%"></div>
								</div>
							</div>
						</div>
						<div class="lbox">
							<a href="#" class="link">Show detailed feedback</a>
						</div>
					</dd>
				</dl>
				<dl class="fl">
					<dt>This is my goal. The text of this goal will go here</dt>
					<dd>
						<div class="comm">
							<span class="fl">Commitment: 7/10</span>
							<a href="#" class="fr">View Reward</a>
							<br class="clear">
						</div>
						<h4>Awaiting feedback.<br>Your feedback will be sent to the following people on 31/2/20</h4>
						<div class="recs">
							<span>Fred Sinatra</span>
							<span>Penny Farthing</span>
							<span>Aaron Schwarz</span>
							<span>Hugh Cumber</span>
							<span>Joe Hansson</span>
							<span>Sven Stiller</span>
							<span>Mark Stallone</span>
							<span>Dan Vamm</span>
							<span>Mark Stallone</span>
							<span>Dan Vamm</span>
							<span>Dan Vamm</span>
							<br class="clear">
						</div>
						<div class="lbox">
							<a href="#" class="link">Edit feedback givers</a>
						</div>
					</dd>
				</dl>
				<dl class="fl">
					<dd class="empty">
						<p>Set goal intention #3 now</p>
						<a href="page_7" class="link">Set goal intention</a>
					</dd>
				</dl>
				<br class="clear">
			</div>
		</div>
	</div>
</div>
<p class="p-lead">&nbsp;</p>
