<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard" %>
<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_goal_2" %>
<div id="maincont">
	<div class="container">
		<div class="row dash">
			<ol class="dash">
				<li><span class="inl">If you have made significantly progress or met your goal, how have you rewarded your effort and accomplishment?<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
				<li><span class="inl">What barriers might be getting in the way from getting started on your goal or keeping it up for another 30 days?<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
				<li><span class="inl">How can you use your social support network and goal mentors to help you continue starting and/or practicing your goal?<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
				<li><span class="inl">If you have started on your goal, have you seen any positive results or concequences?<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
				<li><span class="inl">If you have not yet started on your goal, perhaps it is too large or complicated and revising it and breaking it into smaller goals will help you get rolling<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
				<li><span class="inl">If you have not yet started on your goal, what “trigger” (situation, time or cue) can you use to begin?<br>
					<textarea placeholder='Enter your answer here'></textarea>
					</span>
				</li>
			<br class="clear"><br>
			<div class="botcont">
				<a href="page_9" class="prog fl">Prev</a>
				<a href="page_11" class="prog fr">Next</a>
				<br class="clear">
			</div>
		</div>
	</div>
</div>
