<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_setup" %>
<div id="maincont">
	<div class="container">
		<div class="row">
			<form class="setup">
				<p>Please create a password. You will need this each time you access TalentAccelerator.</p>
				<p>Your password must be ot least 8 characters long and include at least three of the following: one lowercase letter, one uppercase letter, one special character, and one number.</p>
				<div class="inputs">
					<label>Password</label><br>
					<input type="password" placeholder="Password" /><br>
					<label>Password Confirmation</label><br>
					<input type="password" placeholder="Password Confirmation" /><br>
					<a class="btn2" href="page_3">Save</a>
				</div>
			</form>
		</div>
	</div>
</div>