		<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard" %>
		<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/banner_dashboard_feedback" %>
		<div id="maincont" class="lightgray">
			<div class="container">
				<div class="row dash">
					<div class="card-single">
					
						<div class="gcont">
							<h4>Insert Goal Intention</h4>
							
							<div class="col-md-6">
								<div id="bar-horzontal">
						      <div class="bar1" style="width:20%">A</div>
						      <div class="bar2" style="width:10%">B</div>
						      <div class="bar3" style="width:80%">C</div>
						      <div class="bar4" style="width:50%">D</div>
						    </div>
							</div>
							
							<div class="col-md-6">
								<div class="col-md-3">
									<div class="graph-key">
										<h4>Key</h4>
										<p class="gr-key">A = Not Observed/Unable to Answer</p>
										<p class="gr-key">B = No Progress or Improvement/ Self Fell Short of Expectation</p>
										<p class="gr-key">C = Some Progress or Improvement/ Met Expectation</p>
										<p class="gr-key">D = Considerable Progress or Improvement/ Exceeded Expectation</p>
									</div>
								</div>
								<div class="col-md-3">
											
								</div>
							</div>


						
							
							<br class="clear">
						
						</div>
					
					</div>
					<div class="feedback-c">
						<div class="feedback-intro">
							<h2>Goal Feedback Reflection</h2>
							<p class="p-lead">Based on the feedback from your colleagues/goal mentors, ask yourself these questions to continue with your successful habit and behavior change efforts:
		</p>
							<ol class="dash">
								<li>
									<span class="inl">How does the feedback from others compare with your own self-assessment?
													
													
										<br>
											<textarea placeholder='Enter your answer here'></textarea>
										</span>
									</li>
									<li>
										<span class="inl">What ore your reactions/observations to this feedback from others?
														
														
											<br>
												<textarea placeholder='Enter your answer here.'></textarea>
											</span>
										</li>
										<li>
											<span class="inl">Based on the feedback, what commitments to action are you going to take?
														
														
												<br>
													<textarea placeholder='Enter your answer here.'></textarea>
												</span>
											</li>
										</ol>
										<p class="b-right">
											<input type="button" class="btn-outline btn" value="Save">
											</p>
											<br class="clear">
												<br>
													<div class="botcont">
														<a href="page_1" class="btn1">Dashboard</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>