<%= render :partial => "partials/custom/talent_accelerator/assessment/survey/header_dashboard_main" %>
<div id="maincont">
	<div class="container">
		<div class="row dash">
			<h1 class="purp">Well Done!</h1>
			<br>	
			<p>You’ve set your first goal. In 30 days, you will recieve the first of your 3 monthly emails with helpful hints</p>
			<br class="clear"><br>
			<div class="botcont">
				<a href="page_6" class="btn1">Dashboard</a>
			</div>
		</div>
	</div>
</div>