<div id="login">
	<div class="container">
		<div class="row">
      <%= image_tag 'custom/talent_accelerator/assessment/survey/logo.png' %>
			<form class="login" action="page_9">
				
				<input type="text" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<input type="checkbox" id="rm" /> <label for="rm">Remember me</label><br class="clear">
				<input type="submit" value="Login">
				
				<br class="clear">
				<a href="#" class="ff">Forgot your password?</a>

			</form>
		</div>
	</div>
</div>