// BOOTSTRAP OVERRIDES
$brand-primary: #ff4500;
$font-family-sans-serif: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
// END BOOTSTRAP OVERRIDES



// Customize to cover all
$scale-1-color: #ff2500;
$scale-2-color: #ffca00;
$scale-3-color: #fde200;
$scale-4-color: #d2dc5a;
$scale-5-color: #a1d562;
$scale-0-color: #e0e0e0;




// REQUIRED VARIABLES for shared/utilities functions
$margin-unit: 15px;
$padding-unit: $margin-unit * 2;
$column-padding: 20px;

$border-color: #ddd;

$hr-thick-border: 5px;
$hr-thick-border-style: solid;
$hr-thick-border-color: $border-color;


$h1-size: 24px;
$h1-section-size: 22px;
$h1-well-size: 20px;
$h1-line-height: 40px;
// END REQUIRED VARIABLES for shared/utilities