/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require toastr/toastr.min.css
 *= require font-awesome
 *= require_self
 */


@import "https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext";

@import "variables";
@import "shared/utilities";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "base";

body {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans;
      font-size: 16px;
          color: #666;
#top {
  background: $brand-primary;
  position: absolute;
  left: 0; right: 0;
  height: 15px;
  top: 0;
}

.progress {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }


div.header360-1 {
  height: 15%;
}

.border-top-orange {
  border-top: 4px solid $brand-primary;
  position: fixed;
  top:0;
  left:0;
  height: 4px;
}

div.footer {
  background-image: image-url("custom/cirrus/connected_leadership/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height:100px;
}

div.main360-1 {
  background-image: image-path("custom/cirrus/connected_leadership/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
}
div.content-box {
    background-color: #FFFFFF;
    opacity: 0.8;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 400px;

    h1 {
      font-weight: 50;
    }

    p {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

div.footer360-1 {
  background-image: image-url("custom/cirrus/connected_leadership/cirrus-w_o-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 98px;
}

 .btn-primary {
    color: #ffffff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  .btn-primary:hover {
    color: #ffffff;
    background-color: darken($brand-primary,10%);
    border-color: $brand-primary;
  }


/* Second look no image background*/


div.main360-2 {
  background-color: #edeeee;
  padding: 20px!important;

  @media screen and (min-width: 992px) {
    .scale-body, .scale-body-last {
      height: 250px;
      padding-bottom: 20px;
    }

  }

  .scale-head {
    background-color: #4a5155;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
  }
  .scale-body {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
  }

  .scale-head-last {
    background-color: #4a5155;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
  }
  .scale-body-last {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
  }

  .btn{
      white-space:normal !important;
      word-wrap: break-word;
  }

  @media (min-width: 992px){
    .col-md-1-5 {
      width: 14%;
      float: left;
    }
  }

  @media screen and (min-width: 992px) {
    .scale-head, .scale-head-last {
      min-height: 85px;
    }

    .scale-head:before{
      content: '';
      position: absolute;
      top: 16px;
      left: 0px;
      right: -1px;
      bottom: 16px;
      border-left: #edeeee 1px solid;
    }
    .scale-body, .scale-body-last {
      min-height: 180px;
    }
    .scale-body:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0px;
      right: -1px;
      bottom: 14px;
      border-left: #4a5155 1px solid;
    }
    #questions {
      margin-top: 10px;
      padding: 5px 15px;
    }
    #questions .panel {
      border-radius: 0 !important;
    }
  }

  @media screen and (min-width: 768px) {
    .scale-body {
      margin-bottom: 20px;
    }

    #questions .panel {
      margin-bottom: 10px;
      border-radius: 0 !important;
    }
  }

  @media screen and (min-width: 375px) {
    .scale-body {
      margin-bottom: 10px;
    }
  }

  .progress-bar-left {
    background-color: #fff;
    padding:4px;
    border:1px solid #d9dbdd;

    .progress {
      box-shadow: none;
    }
    .progress-bar {
      box-shadow: none;
    }
  }
@media (min-width: 992px){
  .progressbar-row {
  padding-right:15px;
  }
}

@media screen and (min-width: 768px){
  .progressbar-row {
  padding-right:15px;
  padding-left:15px;
  }
}

@media screen and (min-width: 375px){
    .progressbar-row {
  padding-right:15px;
  padding-left:15px;
  }
}
  .progress-bar-right {
    background-color: #d9dbdd;
    padding:4px;
    margin:0px;
    height:30px;
    font-size:12px;
    border:1px solid #d9dbdd;
  }

  table.data-collection {
    width: 100%;
    margin: 50px 20px 150px 0;
    thead {
      td {
        background-color: #4a5155;
        color: #FFFFFF;

        text-align: center;
        padding: 20px;
      }
    }
    tbody {
      td {
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
      }
    }
  }
}

div.footer360-2 {
  /*background-image: url(asset_path("custom/cirrus/connected_leadership360/cirrus-w_o-bg.png"));*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  opacity: 0.1;
  height: 98px;
}

.factor-name {
  background-color: #4a5155;
  color: #FFFFFF;
  padding: 10px 10px;
}

/*.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #ffffff;
  background-color: $brand-primary;
}*/

#questions {
  .col-md-12 .textarea {
    padding-left: 0;
    padding-right: 0;

    textarea {
      height: 240px;
    }
  }
  .btn {
    text-align: left;
    padding: 15px;
  }
  .btn-default {
    color: #4a5155;
    background-color: #ededee;
    border-color: #ededee;
  }
  .btn-default:hover {
    color: #ffffff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #ffffff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  /* line 37, /Users/aibuna/.rvm/gems/ruby-2.2.9/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_buttons.scss */
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none;
  }

  .btn-group-vertical > .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group-vertical > .btn:last-child:not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.nomination-heading {
  background-color: #4a5155;
  color: #FFFFFF;
  padding: 10px 10px;
}