<div id="maincont" class="container">
	<div class="row">
		<h1>Manager Mandy Manager</h1>
		<p>Participant: <b>Danni Test</b></p>
		<p>Please review the list of the nominated raters below. Please click 'Approve' button if you are satisfied with your direct report's nominations.</p>
		<p>Alternatively, please deselect any of the nominated raters you would like to remove from the list, and enter a short reason for doing so to help the participant understand the reasons for removing rater.</p>
		<p>You will have an option to add additional raters once you have approved this initial list.</p>
		<table class="raters">
			<tr>
				<th width="5%"></th>
				<th width="15%" >First Name</th>
				<th width="15%" >Last Name</th>
				<th width="30%">Rater Type</th>
				<th width="35%"></th>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_1" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_1">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_2" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_2">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_3" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_3">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_4" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_4">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_5" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_5">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked="checked" data-toggle="collapse" data-target="#collapse_6" /></td>
				<td>Test</td>
				<td>PARTICIPANT</td>
				<td>
					<select>
						<option>Direct Report / Supervisee</option>
						<option>CEO</option>
					</select>
				</td>
				<td>
					<div class="collapse" id="collapse_6">
						<input type="text" placeholder="Disapproval reason" />
					</div>
				</td>
			</tr>
			
		</table>
		<button class="appbtn">Approve</button>
	</div>
</div>