<div id="maincont" class="container">
	<div class="row">
		<h1>Manager Mandy Manager</h1>
		<p>Participant<strong> Danni Test</strong></p>
		<h2>Already Nominated</h2>

		<table class="raters">
			<tr>
				<th width="20%">First Name</th>
				<th width="20%" >Last Name</th>
				<th width="25%" >Email</th>
				<th width="30%">Rater Type</th>
				<th width="10%">Completed</th>
			</tr>

			<tr>
				<td width="20%">Erica</td>
				<td width="20%" >Approvals Nomination</td>
				<td width="25%" >ask.ericavillena@gmail.com</td>
				<td width="30%"><strong>self</strong></td>
				<td width="10%">0 / 1</td>
			</tr>
			<tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
      </tr>
      <tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
      </tr>
      <tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
      </tr>
      <tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
      </tr>
      <tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
      </tr>
      <tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
			</tr>
	
		</table>

		<h2>Nominations</h2>
		<p>Please select the rater type and enter the first and last name of each additional rater you would like to nominate along with their email address in the boxes below. To submit this addition select 'add'. Once you have finished inputting any additional nominees, please click the 'Finish' button below.</p>

		<form>
		<div class="form-group">
			<label>Rater Type</label>
			<select>
				<option>Select One</option>
				<option>Current Manager</option>
				<option>Direct Report / Supervisee</option>
				<option>Peer (Minimum 3)</option>
				<option>Others</option>
			</select>
		</div>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" id="fname">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" id="lname">
		</div>
			<div class="form-group">
				<label>Email address</label>
				<input type="email" class="form-control" id="email">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>

		<button class="appbtn">Finish</button>
	</div>
</div>