<div id="maincont" class="container">
	<div class="row">
		<h1>Nominations Erica Approvals Nomination</h1>
		<p>You have been asked to identify the raters from whom you would like to receive feedback. They should be people who, from a range of perspectives, will be able to give honest feedback on your strengths and areas for development.</p>
		<p><strong>Your raters should be:</strong></p>
		<ul class="cont-ul">
			<li>Your <strong>Direct Supervisor</strong>: Please note that your current manager has already been pre-identified / included as a rater. Please check that it is accurate.</li>
			<li>All of your <strong>Direct Reports</strong>: Please note that your direct supervisees have already been pre-identified / included as raters. Please check that it is accurate add in any direct reports that may have been missed. The list should include all your direct supervisees - those who are directly managed by you.</li>
			<li>Your <strong>Peers</strong>; and</li>
			<li>A miscellaneous category of <strong>Others</strong>. This category should include people inside and outside of UNICEF that you work with and whose feedback you would value.</li>
		</ul>

		<p>While your direct supervisor and direct reports will be pre-identified / included as raters, it is important that you also choose people you work closely with who can provide useful feedback on your perceived strength and growth areas. These should include staff inside and outside of your office, who are not your peers and colleagues in the UNCT.</p>
		<h2>Previous Nominations</h2>

		<table class="raters">
			<tr>
				<th width="20%">First Name</th>
				<th width="20%" >Last Name</th>
				<th width="25%" >Email</th>
				<th width="30%">Rater Type</th>
				<th width="10%">Completed</th>
			</tr>

			<tr>
				<td width="20%">Erica</td>
				<td width="20%" >Approvals Nomination</td>
				<td width="25%" >ask.ericavillena@gmail.com</td>
				<td width="30%"><strong>self</strong></td>
				<td width="10%">0 / 1</td>
			</tr>
			<tr>
				<td width="20%">Mandy</td>
				<td width="20%" >Manager</td>
				<td width="25%" >danielle+managernom@envisialearning.com</td>
				<td width="30%">Current Manager</td>
				<td width="10%">0 / 1</td>
			</tr>
			<tr class="delete_stat">
				<td width="20%"><em>Polly</em></td>
				<td width="20%" ><em>Peer</em></td>
				<td width="25%" ><em>polly@gmail.com*</em> <a href="" class="del_link">Delete Rater</a></td>
				<td width="30%"><em>Peer</em></td>
				<td width="10%">0 / 0</td>
			</tr>
		</table>

		<h2>Nominations</h2>
		<p>Please select the rater type and then enter the first name, last name and email address of each person from whom you would like to receive feedback in the boxes below. To submit the rater, please select 'Add'.</p>

		<form>
		<div class="form-group">
			<label>Rater Type</label>
			<select>
				<option>Select One</option>
				<option>Current Manager</option>
				<option>Direct Report / Supervisee</option>
				<option>Peer (Minimum 3)</option>
				<option>Others</option>
			</select>
		</div>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" id="fname">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" id="lname">
		</div>
			<div class="form-group">
				<label>Email address</label>
				<input type="email" class="form-control" id="email">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>

		<button class="appbtn">Finish</button>
	</div>
</div>