<div class="row"><%= form_tag(url: "/search", method: "get") do %>
	<div class="container-fluid">
		<div class="pad1">
			<div class="column-fluid">
				<h1>Your actions and behaviours</h1><%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 63} %>
      </div>
		  <h2>Select three words that describe you when you are at your best.</h2>
        <div class="form-group radio-group radio-group-tabs">
          <div class="experience">
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Inspiring</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Competitive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Considered</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Customer-centric</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Empowering</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Responsive</div>
                        </div>
                    </label>
                </div>
        
            </div>
        
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Visionary</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Future-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Decisive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Curious</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> People-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Action-oriented</div>
                        </div>
                    </label>
                </div>
        
            </div>
        
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Disruptive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Clear Thinker</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Analytical</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Externally-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Coaching</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Adaptable</div>
                        </div>
                    </label>
                </div>
        
            </div>
        </div>
      </div>

      <h2>Select three words that describe you when you are at your worst.</h2>
        <div class="form-group radio-group radio-group-tabs">
          <div class="experience">
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Inspiring</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Competitive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Considered</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Customer-centric</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Empowering</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Responsive</div>
                        </div>
                    </label>
                </div>
        
            </div>
        
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Visionary</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Future-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Decisive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Curious</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> People-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Action-oriented</div>
                        </div>
                    </label>
                </div>
        
            </div>
        
            <div class="options">
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Disruptive</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Clear Thinker</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Analytical</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Externally-focused</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Coaching</div>
                        </div>
                    </label>
                </div>
        
                <div class="input-group">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                            <div class="card">
                                <div class="card-text"> Adaptable</div>
                        </div>
                    </label>
                </div>
        
            </div>
        </div>
      </div>
      
      
        

        <div class="row dir-btns"><%= link_to "< Back", "", target:'blank', class:'btn btn-directional pull-left' %><%= submit_tag "Next >", data: { confirm: "Send" }, class: "btn btn-directional btn-right pull-right" %>
        </div>
        
		</div>
	</div><% end %>
</div>