<div class="row">
	<div class="pad1">
    	<h1 class="h1-highlight">Welcome Sally</h1>
	 
		 <div class="container-fluid div-grid-3">
			  
			  <div class="col-xs-6 col-sm-4 grid-highlight-2">
			    <div class="row">
						<p class="p-highlight">Introduction</p>
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" 
								src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"></iframe>
						</div>
			    </div>
			  </div>
			  
			  <div class="col-xs-6 col-sm-4">
			    <div class="row">
			    	<p class="p-highlight">Your experience, knowledge, actions and behaviour</p>
			    	<small>35 mins</small>
			    	<p>Tell us about your career aspirations experience, knowledge, and how you show it in your actions and behaviours in relation to the role of a Retail Leader.</p>
	  					
	  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 63} %>
	  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
	  					
			    </div>
			  </div>
		  	
		  	<div class="col-xs-6 col-sm-4">
			    <div class="row">
			    	<p class="p-highlight">Input from Line Manager, Peers and Direct Reports</p>
						<small>10 mins</small>
			    	<p>We’ll collect insights from your line manager, peers and direct reports. Here you can track their overall completion.</p>
	  					
	  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 0} %>
	  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
	  					
			    </div>
			  </div>
			  
		  

			  
			  <div class="col-xs-6 col-sm-4 grid-highlight-2">
			    <div class="row">
					<p class="p-highlight">Your Journey</p>
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" 
								src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4"></iframe>
						</div>
			    </div>
			  </div>
			  
			  <div class="col-xs-6 col-sm-4">
			    <div class="row">
			    	<p class="p-highlight">Your approach and style</p>
			    	<small>40 mins</small>
			    	<p>In a separate email you will receive a personal invi- tation and log-in details to Hogan questionnaires.</p>
	  					
	  					<%= render :partial => "partials/custom/standard_chartered/portal/retail_leader/progress_bar", locals: {p: 23} %>
	  					<a href="" class="btn-full-right"><span class="material-icons">keyboard_arrow_right</span></a>
	  					
			    </div>
			  </div>
		  	
		  	<div class="col-xs-6 col-sm-4 grid-highlight">
			    <div class="row">
						<p class="p-highlight">We're here to help</p>
						<p>If you have any questions about your journey feel free to contact us.</p>
						<p><a href="" class="btn btn-directional">Contact Support</a></p>
			    </div>
			  </div>
			  
		  
		 </div>
		 
		 
	 </div>
</div>