<div class="row">
  <div class="col-sm-6">
    <div class="pad1">
    	 <h1>Your Nominations</h1>
      <h3>To gather a range of insights we would like you to ask others to provide their perspective on your strengths and development areas. Please choose people who can provide honest feedback and encourage them to do so.</h3>
    </div>
  </div>
  <div class="col-sm-6">
  	<div class="pad1 hr-left">
    <h5 class="h5-highlight">You should invite:</h5>
    <ul>
       <li>1 Line Manager (the person you are reporting to)</li>
       <li>Minimum 2 Peers (colleagues at the same level as you)</li>
       <li>Minimum 2 Direct Reports (colleagues who are managed by you)</li>
       <li>Minimum 2 Other (this is optional, they can be external stakeholders, clients, mentors)</li>
    </ul>
    <p>If you are unsure who to nominate or have any questions, get in touch with us via the portal. </p>
    </div>
  </div>  
</div>

<div class="row dir-btns">
		<%= link_to "< Back", "", target:'blank', class:'btn btn-directional pull-left' %>
		<%= link_to "Start >", "", target:'blank', class:'btn btn-directional pull-right' %>
</div>
