
<div class="modal fade popup" id="privacy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat enim lacus, at sodales dui rutrum in. Vivamus quis leo eleifend, bibendum tortor at, lobortis est. Sed porta, neque sed fringilla accumsan, orci neque sodales nibh, sed finibus felis dui nec dolor. Nulla egestas libero nibh, eget euismod ex ultricies vel. Etiam ut purus lacus. Cras dictum fringilla suscipit. Curabitur efficitur vitae neque ut congue. Quisque vitae erat non odio maximus lacinia eu sed sem. Mauris ut elementum ipsum, vitae varius erat. Cras ut ipsum ut nulla pretium lobortis eget placerat sem. Fusce sed eleifend mi, ut convallis urna. Pellentesque at gravida ante. Donec maximus, elit nec elementum fermentum, elit eros porttitor velit, mollis ornare nisl mauris id arcu.

Pellentesque ac libero sit amet nibh rutrum ultrices sed eget magna. Mauris porttitor id massa ac faucibus. Ut tempus elit eget sollicitudin tincidunt. Praesent ut egestas dui. Vivamus metus urna, bibendum vitae lorem vitae, eleifend sodales ipsum. Cras at vehicula nunc. Nulla lobortis ullamcorper dolor sagittis gravida. Vestibulum velit nibh, finibus et molestie eu, tincidunt eget eros. Quisque et erat eu mauris porttitor ornare quis vitae ante. Fusce non gravida dolor. Suspendisse eget nisl felis. Fusce in dapibus dui. Vivamus scelerisque sapien id sem ultricies scelerisque. Praesent vehicula eros velit, ac pharetra lectus consequat et. Vestibulum auctor nunc at lorem aliquet accumsan. Etiam lacinia gravida ligula, vitae efficitur tellus pharetra sed.

Nullam vel egestas libero. Nam dictum, diam eu feugiat efficitur, ante tellus varius ex, in tempus elit nulla sit amet mauris. Fusce euismod facilisis scelerisque. Maecenas rutrum maximus felis, sit amet dapibus nisl tincidunt nec. Nulla volutpat rhoncus turpis, eget bibendum dui mattis id. Nullam sodales erat eu bibendum tincidunt. Vestibulum varius, diam et mattis pulvinar, odio est pulvinar eros, sed pharetra dui ligula a lectus. Nunc ultricies urna eget porttitor venenatis. Pellentesque eu tristique velit, vulputate varius nunc.

Sed dignissim cursus massa, sit amet condimentum dui molestie nec. Donec non interdum orci. Donec luctus semper ornare. Aliquam at risus vel ipsum scelerisque sollicitudin et sit amet ligula. Vivamus eros tortor, vestibulum lobortis commodo et, dictum eget elit. Ut vehicula tortor ut imperdiet dapibus. Nullam nec volutpat lectus. Nulla dapibus mattis sapien, iaculis tincidunt tellus. Cras pharetra magna arcu, sed rutrum magna blandit a. Donec ut semper massa. Nunc vitae dui eu libero suscipit vulputate.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis euismod vehicula pharetra. Maecenas sagittis eros quis massa scelerisque lacinia. Sed porttitor, felis id porta facilisis, dui ante imperdiet nisi, in lacinia neque enim a augue. Nam posuere sodales quam, non malesuada est hendrerit venenatis. Fusce nec erat arcu. Sed pretium nibh at elit tincidunt, et aliquam dui rhoncus.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">Disagree</button>
        <button type="button" class="btn btn-directional" data-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
</div>