<div class="col-md-4 pull-right progress-parent">
	<p class="txt-highlight-2 pull-right"><strong><%= p %>%</strong> Complete</p>
	<div class="progress-bar pull-right">
		<span style="width:<%= p %>%">&nbsp;</span>
	</div>
</div>
<div class="clear-fix">&nbsp;</div>