<div class="row">
	<div class="col-sm-6">
  	<div class="pad1">
    	<h1 class="h1 h1-highlight-2">Welcome to your<br>Retail Leader Insights</h1>
      	<p>You are participating in a Retail Leader Insights activity. It willprovide you with information supporting your future growth.This portal has been designed as a go-to place for you to understand your journey and track your progress.</p>
        <%= link_to "Enter", "", target:'blank', class:'btn btn-neutral' %>
    </div>
  </div>
  
  <div class="col-md-offset-6 start-img">
  	<%= image_tag 'custom/standard_chartered/portal/retail_leader/img1.jpg', class: 'img-responsive' %>
  </div>
</div>