<% #page numbers %>

  <tr>
    <td>
      <div class="padded padded-top padded-bottom">
        <%= hidden_field_tag("demographic_question", value = true %>
        <%# NOTE: TAQ Top Teams don't want a prompt ("-- select one --") with a default ("") option in their demographics drop down because they use "Prefer not to respond" as option #1 %>
        <strong>Text</strong><%#= "&nbsp;<sup>*</sup>".html_safe if demographic_question.required %><br>
          <%= select_tag("e" ([["20",20],["50",50],["100",100]] ) %>
      </div>
    </td>
  </tr>
