<div class="panel panel-primary">
  <div class="panel-heading">Panel with panel-primary class</div>
    <div class="panel-body">Panel Content</div>

      <h1>Team Accelerator</h1>
      <h1>Welcome to the Team Accelerator Feedback Process</h1>

      <p>
      The Team Accelerator looks at the elements required for high performing teams and enables you to provide feedback on Thoughtworks: the way in which it operates and the effectiveness with which it tackles a range of issues.

      The questionnaire should take no more than 30 minutes to complete, although there is no time limit.

      Your feedback is confidential and anonymous. Individual responses will not be identified. Throughout the process, additional help and guidance is provided in the information panel on the right.

      Please note your data is secure and held in accordance with the provisions of the Data Protection Act.
      </p>

    </div>
  </div>
</div>

<%= image_tag "app/assets/images/custom/sample_client/heidrick_example/TriangleLogo.jpg" %>

<div class="text-center">
  <%= link_to 'Next', 'questionaire', class: 'btn btn-lg btn-primary' %> <%# page numnber %>
</div>