body {
  background-color: #fff;
  //padding-top: 30px;
}

.language-bar {
  margin-bottom: 15px;

  .language-label {
    font-weight: bold;
    padding-top: 7px;
    text-align: right;
  }

}

.col-scale-radio-button {
  width: 25px;
  text-align: center;
}




.scale-box {
  border: 1px solid $brand-primary;

  ul {
    margin-bottom: 0px;
  }

  li {
    width: 100%;
    padding: 5px;
    vertical-align: top;
  }
}




.badge-1 {
  background: $scale-1-color;
}
.badge-2 {
  background: $scale-2-color;
}
.badge-3 {
  background: $scale-3-color;
}
.badge-4 {
  background: $scale-4-color;
}
.badge-5 {
  background: $scale-5-color;
}
.badge-6 {
  background: $scale-6-color;
}
.badge-0 {
  background: $scale-0-color;
  color: $brand-primary;
}




//scale labels should be equi-distant from each other, therefore we need a different width for each scenario
//  for new scenarios we run into, we'll just keep adding classes in the format "scale-[num_items]-items-[yes/no]-na"
.scale-2-items          { @media (min-width: $screen-sm-min) { li { width: 49.5%; } } }
.scale-2-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 33.0%; } } }
.scale-3-items          { @media (min-width: $screen-sm-min) { li { width: 33.0%; } } }
.scale-3-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 24.5%; } } }
.scale-4-items          { @media (min-width: $screen-sm-min) { li { width: 24.5%; } } }
.scale-4-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 19.5%; } } }
.scale-5-items          { @media (min-width: $screen-sm-min) { li { width: 19.5%; } } }
.scale-5-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 16.0%; } } }
.scale-6-items          { @media (min-width: $screen-sm-min) { li { width: 16.0%; } } }
.scale-6-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 13.5%; } } }
.scale-7-items          { @media (min-width: $screen-sm-min) { li { width: 13.5%; } } }
.scale-7-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 12.0%; } } }
.scale-8-items          { @media (min-width: $screen-sm-min) { li { width: 12.0%; } } }
.scale-8-items-plus-na  { @media (min-width: $screen-sm-min) { li { width: 10.5%; } } }
.scale-9-items          { @media (min-width: $screen-sm-min) { li { width: 10.5%; } } }
.scale-9-items-plus-na  { @media (min-width: $screen-sm-min) { li { width:  9.5%; } } }
.scale-10-items         { @media (min-width: $screen-sm-min) { li { width:  9.5%; } } }
.scale-10-items-plus-na { @media (min-width: $screen-sm-min) { li { width:  8.5%; } } }