<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>



      <!-- Page Text -->


      <h1>Part 1: Emotional Awareness Assessment </h1>

      <p class="lead margin-top-x2">
        Part 1 of the assessment measures your own emotional awareness. Emotional awareness is the ability to identify and manage your own emotions and the emotions of others. The collective emotional awareness of team members contributes to both team effectiveness and performance.
      </p>

      <p>
        For this assessment, you'll be shown 8 images of people's eyes. Please look at the images and select the single best emotion that you think they are feeling.
      </p>

      <p>
        This part of the assessment will take approximately 5 - 10 minutes to complete.
      </p>

      <p>
        Your responses will be combined with those of your team members and be used to<br>
        Please click "Next" to start the assessment.
      </p>



      <!-- Navigation Buttons -->



      <div class='col-md-4 col-md-offset-4 margin-top-x2 text-center'>
        &nbsp;
        <%= link_to "Previous", envisia_team_trust_view_introduction_path, class:'btn btn-default' %>
        <%= link_to "Next", envisia_team_trust_view_emotional_awareness_questionnaire_path, class:'btn btn-primary' %>

        <div class='row text-center margin-top'>
          &nbsp;
          <span>
            Page 2 of 27
          </span>
        </div>



      </div>

    </div>
  </div>
</div>