<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>


      <!-- Page Text -->


      <h1>Introduction</h1>


      <p class="lead margin-top-x2">
        High performance teams have less to with who is on a team and more to do with how team members interact with one another. Recent research has uncovered two important characteristics of effective teams including: 1) High psychological safety/interpersonal trust and 2) High emotional awareness of how other team members are acting and feeling.
      </p>


      <p>
        NeuroTeamView measures both of these characteristics to provide a team with a measure of how team members are interacting and working with each other. The results from NeuroTeamView will share both team and individual feedback about specific behaviors that might be changed to enhance overall effectiveness and performance.
      </p>

      <p>
        The NeuroTeamView questionnaire is divided into two parts.
      </p>

      <p>
        Part 1: Assesses the level of emotional awareness within the team.
      </p>

      <p>
        Part 2: Assesses the level of psychological safety/trust within the team.
      </p>

      <p>
        Both parts should take approximately 15-20 minutes in total to complete, although there is no time limit. This time can be affected by the number of people within your team (i.e. if you work in a particularly large team the assessment may take longer to complete).
      </p>

      <p>
        <strong>Your responses will be completely confidential. No persons’ responses will be identifiable in the team reports produced.</strong>
      </p>

      <p>
        You can navigate backward and forward through the questions by selecting the "Previous" or "Next" buttons when they are shown.
      </p>

      <p>
        Please click "Next" when you are ready to begin.
      </p>


      <!-- Navigation buttons -->


      <div class='col-md-4 col-md-offset-4 margin-top-x2 text-center'>
        &nbsp;
        <%= link_to "Next", envisia_team_trust_view_emotional_awareness_introduction_path, class:'btn btn-primary' %>

        <div class='row text-center margin-top'>
          &nbsp;
          <span>
            Page 1 of 27
          </span>
        </div>

      </div>

    </div>
  </div>
</div>