<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>

      <h1>Part 2: Pillars of Trust Survey</h1>

      <p class="lead margin-top-x2">
        class: Part 2 of the assessment asks you to provide feedback about yourself and each of your team members in relation to 12 behavior-oriented questions. These 12 questions measure four important aspects of psychological safety/trust in your team.
      </p>

      <p>
        You will be asked to provide responses using a 1 - 5 frequency scale, from “almost never” to “almost always”. Please select "1" only when the behavior is almost never observed or "5" only when the behavior is almost always observed.
      </p>

      <p>
        You will be required to provide a rating for each question/behavior and team member, however there is no time limit. Your responses will be combined with those of your team members and included together in team reports.
      </p>

      <p>
        Your individual ratings and any written comments you make about other team members will be completely anonymous and confidential.
      </p>

      <p>
        This part of the assessment will take approximately 10-15 minutes to complete, although there is no time limit and will also depend on the size of your team.
      </p>

      <p>
        Please click "Next" to start the assessment.
      </p>

    </div>
  </div>
</div>
