<div class='container page page-border margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>



      <h1>Survey Completed</h1>

      <p>
      Thank you for taking the survey!
      </p>



    </div>
  </div>
</div>