<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>


      <h1>About Contra Indicators</h1>
      <hr>

      <p>
        Robert Gibson would also ask for your feedback on any behaviours which have the potential to hold back his effectiveness. This will be useful to him in focusing his development priorities.
      </p>

      <p>
        You will be presented with a series of statements. Please review these behaviours and indicate those which may be relevant to Robert Gibson.
      </p>


      <div class='col-md-12 text-right margin-top-x2'>
        <%= link_to "Back", sample_client_new_tool_questionaire_path, class:'btn btn-default' %>
        &nbsp;
        <%= link_to "Next", sample_client_new_tool_contra_indicator_path, class:'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>
