<div class='container page page-border questionnaire margin-top'>
  <div class='row'>


    <div class='col-md-10 col-md-offset-1 margin-bottom-x2'>
      <h1>Data Processing Policy</h1>
      <hr>
    </div>



    <p>
    We will be processing the data given in the questionnaire you complete. We will retain and store copies of your data to perform statistical analyses. By completion of the questionnaire, you consent to our use of any personal information for the sole purpose of processing your results.
    </p>

    <p>
      We are committed to treating your data with absolute due care and in accordance with all applicable data protection regulations. All data collected and stored complies with the UK Data Protection Act (1998), the EU Data Protection Directive (95/46/EC) and Reg. (UE) n. 2016/679. Our technical partner, AM Azure Consulting, is registered with the Information Commissioner’s Office (Registration Number Z7668202).
    </p>

    <p>
        <%= check_box(check_value = "1", unchecked_value= "0") %>
        <strong>I accept</strong>
      </p>


      <div class="row text-right">
        <div class="col-md-9 text-left">
          <%= link_to "More details", sample_client_new_tool_introduction_path %>
        </div>

        <div class="margin-top-x2 col-md-3 text right">
          <%= link_to "Next", sample_client_new_tool_instructions_path, class:'btn btn-primary' %>
        </div>
      </div>
    </div>

  </div>
</div>