<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>


      <h1>Thank You</h1>
      <hr>

      <%= link_to "Go Back to the Portal Page", "", class:'btn btn-primary' %>
      <%= link_to "Logout", "", class:'btn btn-primary' %>


    </div>
  </div>
</div>
