<div class="submenu">
<div class="container">
  <div class="row">
    <div class="pull-left cmenu">
      <a href="#">My Assessment</a>
    </div>
    <div class="pull-right rmenu">
      <%= button_tag( :class => "") do %>
        Save and Logout <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
    <br class="clear">
  </div>
</div>
</div>