<div class="container">
	<div class="row">
		<div class="topcont inner">
    <%= image_tag 'custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/ifa.png', class: 'img-responsive pull-left' %>
			<br class="clear">
			<div class="progdet">
			<%=progress%>% Complete
			</div>
			<div class="progbar">
				<span style="width: <%=progress%>%;"></span>
			</div>
			<br class="clear">
		</div>
	</div>
</div>