<div class="container">
<div class="row">
  <div class="topcont">
    <%= image_tag 'custom/heidrick_and_struggles/rising_leaders_ifa/questionnaire/ifa.png', class: 'img-responsive pull-left' %>
    <br class="clear">
  </div>
</div>
</div>