<div class="panel-group sidebar-accordion" id="accordion10" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="headingOne">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Date Range</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group" id="data_5">
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" value="05/14/2014" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" value="05/22/2014" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="headingTwo">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Project-Group: All Filters (1)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p>Group 2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="heading33">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Gender: All Filters (1)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapse33" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapse33" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p>Male</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="heading33">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Department: All Filters (2)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapse44" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapse44" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Human Resources</p>
        </div>
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Finance</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="heading33">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Job Level: All Filters (2)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapse55" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapse55" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Human Resources</p>
        </div>
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Finance</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="heading33">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Location: All Filters (2)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapse66" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapse66" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Human Resources</p>
        </div>
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Finance</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading modal-panel" role="tab" id="heading33">
      <div class="d-flex justify-content-end">
        <div>
          <p class="panel-title">Region: All Filters (2)</p>
        </div>
        <div class="pl-2">
          <a role="button" data-toggle="collapse" href="#collapse77" aria-expanded="false" aria-controls="collapse1">
            <i class="collapsible-item glyphicon glyphicon-plus"></i>
            <i class="collapsible-item glyphicon glyphicon-minus"></i></a>
        </div>
      </div>
    </div>
    <div id="collapse77" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Human Resources</p>
        </div>
        <div class="check">
          <span class="check-accordion">&#10003;</span>
          <p> Finance</p>
        </div>
      </div>
    </div>
  </div>

</div>