<div class="container-fluid">      
  <%= render :partial => "partials/custom/standard_chartered/assessment/respondent/step_wizard", locals: {active: 5} %>
  <div class="row setup-content" id="step-5">
      <div class="container">
          <h1><span class="h1-bold">Thank You</span> </h1>
          <br/>
          <p class="bold-p">The contribution you have made to the participant’s professional growth is greatly appreciated and very valuable. </p>
          <p>Once the report is generated it will be shared by them with their People Leader and used to agree a development action plan. </p>
      
          <br/>
          <p class="bold-p">Our privacy policy </p>
          <p>The Cirrus Connect Privacy Policy explains how information is collected and managed as part of the activity 
              <a href="">(More Details)</a>
              . To accept our policy and
                  proceed to the questionnaire please check the box below. I agree for the information to be used in accordance with the Cirrus Connect Privacy Policy.
                  If you do not wish to take part, please let us know.
          </p>
      </div>
  </div>
</div>