<h1>Additional Comments</h1>
<hr>

<p> In this section of the questionnaire you will be presented with a series of statments to evaluate your effectiveness and impact. Please be discerning in how you use the scale, highlighting your strengths as well as any gaps in your approach.</p>
		
	<div class="row text-center">
		<%= link_to "Back", "introduction", class:'btn btn-default' %>
		<%= link_to "Next", "additional_comments", class:'btn btn-primary' %>
	</div>