<h1>About Additional Comments</h1>
<hr>

<p>
  This section provides an opportunity to amplify your feedback by adding textual comments on Robert Gibson’s leadership impact and approach. These comments can be a very powerful source of feedback.
</p>

<p>
Please be balanced in your feedback, commenting both on what Robert Gibson does well and less well.
</p>

<p>
These comments will be aggregated from all Robert Gibson’s colleagues in the report. If you do not wish your own comments to be identifiable, please avoid any language that might identify you individually.
</p>

	<div class="row text-right margin-top-x4">
		<%= link_to "Back", "questionaire", class:'btn btn-default' %>
    &nbsp;
		<%= link_to "Next", "additional_comments", class:'btn btn-primary' %>
	</div>