<div class='container page page-border Additional_Comments margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <h1>Contra-Indicator</h1>
      <hr>


          <% (1..4).each do |question_number| %>
            <div class="question margin-top-x2 margin-bottom-x2">
              <div class="question-text">
                <div class='row'>
                  <div class="col-md-9">
                    Contra indicator question
                  </div>
                  <div class='col-md-3 text-right'>
                    <%= radio_button("question", "category", "rails") %>
                  </div>
                  </div>
                </div>
              </div>
            <% end %>


          </div>
        </div>
      </div>


    </div>
  </div>
</div>

