<!DOCTYPE html>
<html lang="en">
<head>
  <title>Complete Your Assesment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
          <header style="background: white;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          </div>
        </div>
      </div>
    </header>
      
      <img src="http://customview2.test/assets/custom/amazure/aqa/logo-6cf72e97e7f449d39be32100cc220cb6b707f4a3bd7ba4255f9ff966d43d4523.png" alt="AQA LOGO">
      <div class="row">
      <div class="col-sm-4">
      <h3> Welcome </h3>
      <p> Please compelte this form to register. and begin the feedback process. </p>
      </div>

      <div class="col-sm-8">
      <h2> Please complete the form below </h2>
        <input type="text" name="fname" placeholder="First name"><br>
  <input type="text" name="lname" placeholder="Last name"><br>
  <input type="submit" value="Submit">
  <br>
  <br>    
    <p> Please choose a password which is at least 8 <br> 
      characters long and must include three of the following: <br>
      one uppercase letter, one lowercaase letter, <br> one special character and one number. </p>
        <input type="text" name="fname" placeholder="Password"><br>
  <input type="text" name="lname" placeholder="Confirm Password"><br>
  <input type="submit" value="Register">

      <h2> Already Registered?</h2>
      <input type="submit" value="Submit">
    </div>
  </div>
      <footer>
      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center margin-top-x2 margin-bottom-x4">
          <small>
            &copy;2018 AM Azure Consulting Ltd - All Rights Reserved
            |
            <a target="_blank" href="http://www.aqa.org.uk">http://www.aqa.org.uk</a>
            |
            <a target="_blank" href="http://www.aqa.org.uk/about-us/privacy-policy">Privacy</a>
          </small>
        </div>
      </div>
    </footer>
    </body>
</html>