<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>


			<h1>Instructions</h1>
			<hr>

			<p>
				In this section of the questionnaire you will be presented with a series of statements to evaluate Robert Gibson's effectiveness and impact.
			</p>

			<p>
				Please be discerning in how you use the scale, highlighting his strengths as well as any gaps in his approach.
			</p>

			<p>
				In making your ratings you can select the choices on the right hand side by using your mouse. If there is a question you cannot answer choose 0, but please attempt to answer as many questions as you can.
			</p>

			<p>
				To navigate back and forward through the questions select the ‘Next' or ‘Back' buttons when they are shown. When you are ready, press the 'Next' button to start the questionnaire.
			</p>

			<div class="row text-right margin-top-x2">
				<%= link_to "Back", "introduction", class:'btn btn-default' %>
				&nbsp;
				<%= link_to "Next", "questionaire", class:'btn btn-primary' %>
			</div>

		</div>
	</div>
</div>