
<h2>Instructions</h2>
<hr>
<p> In this section of the questionnaire you will be presented with a series of statments to evaluate your effectiveness and impact. Please be discerning in how you use the scale, highlighting your strengths as well as any gaps in your approach.</p>
<div class="row text-center">
<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/introduction" type="button" class="btn btn-primary">Back</a>
<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/questionaire" type="button" class="btn btn-primary">Next</a>
