<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
		<h1>Instructions</h1>
		<hr>
		<p> In this section of the questionnaire you will be presented with a series of statments to evaluate your effectiveness and impact. Please be discerning in how you use the scale, highlighting your strengths as well as any gaps in your approach.</p>

			<div class="row text-center">
				<%= link_to "Back", "introduction", class:'btn btn-primary' %>
				<%= link_to "Next", "questionaire", class:'btn btn-default' %>
			</div>

		</div>
	</div>
</div>