

			<p>
  			This questionaire shoud take no more than 15 minutes to complete, although there is no time limit.
  		</p>
			<p>
  		It incorporates a series of behavioural statements for you to rate your impact and effectiveness.
 			</p>
 			<strong>important:</strong> Remember that the value of the exercise depends on your openness and honesty.
 			<p>
 			We would recommend that you complete the questionaire in one session, however if necessary you can lof out of your account and return at a later time.
 			</p>
  		Please note your data is secure and geld in accourdance with the provisions of the Data Protection Act.
			</p>

 			<h3>Confirmation of Privacy Policy</h3>
 			<p>To accept our Privacy Policy and complete the online questionnaire please check the box.</p>
 			<%= check_box(check_value = "1", unchecked_value= "0") %> <strong>I agree for the information to be used in accordance with out Privacy Policy</strong></label>
 			
 			<div class="row text-center">


 				<%= link_to "Next", "instructions", class:'btn btn-primary' %>

				<%= link_to "More details", "#" %>