
<h2 style="color:#492a85"> Welcome to the Feedback Process </h2>
<hr>

<p>
  This questionaire shoud take no more than 15 minutes to complete, although there is no time limit.
	<br>
  IT incorporates a series of behavioural statements for you to rate your impact and effectiveness.
 	<br>
 	<strong>important:</strong> Remember that the value of the exercise depends on your openness and honesty.
 	<br>
 	We would recommend that you complete the questionaire in one session, however if necessary you can lof out of your account and return at a later time.
 	<br>
  Please note your data is secure and geld in accourdance with the provisions of the Data Protection Act.
</p>

 <h3>Confirmation of Privacy Policy</h3>
 <p>To accept our Privacy Policy and complete the online questionnaire please check the box.</p>
 <label class="checkbox-inline"><input type="checkbox" value=""><strong>I agree for the information to be used in accordance with out Privacy Policy</strong></label>
 <br>
 <div class="row text-center">

<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/instructions" type="button" class="btn btn-primary" class="row text-center">Next</a>
<br>
<br>
<a href="#">More details</a>

