<html>
<head> 
	<title> Complete Your Assesment</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
		 <img src="http://customview2.test/assets/custom/amazure/aqa/logo-6cf72e97e7f449d39be32100cc220cb6b707f4a3bd7ba4255f9ff966d43d4523.png" alt="AQA LOGO">
		 <br>
		 <br>
		 <h2 style="color:#492a85"> Welcome to the Feedback Process </h2>
		 <hr>

		 <p> This questionaire shoud take no more than 15 minutes to complete, although there is no time limit. 
		 	<br>
		 	IT incorporates a series of behavioural statements for you to rate your impact and effectiveness.
		 	<br>
		 	<strong>important:</strong> Remember that the value of the exercise depends on your openness and honesty. 
		 	<br>
		 	We would recommend that you complete the questionaire in one session, however if necessary you can lof out of your account and return at a later time.
		 	<br>
		 Please note your data is secure and geld in accourdance with the provisions of the Data Protection Act. </p>

		 <h3>Confirmation of Privacy Policy</h3>
		 <p>To accept our Privacy Policy and complete the online questionnaire please check the box.</p>
		 <label class="checkbox-inline"><input type="checkbox" value=""><strong>I agree for the information to be used in accordance with out Privacy Policy</strong></label>
		 <br>
		 <div class="row text-center">
		
		<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/instructions" type="button" class="btn btn-primary" class="row text-center">Next</a> 
		<br>
		<br>
		<a href="#">More details</a>
		 <footer>
      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center margin-top-x2 margin-bottom-x4">
          <small>
            &copy;2018 AM Azure Consulting Ltd - All Rights Reserved
            |
            <a target="_blank" href="http://www.aqa.org.uk">http://www.aqa.org.uk</a>
            |
            <a target="_blank" href="http://www.aqa.org.uk/about-us/privacy-policy">Privacy</a>
          </small>
        </div>
      </div>
  </footer>
</div>

	</body>
</html>