<htmL>
	<head>
		<title>Complete Your Assesment</title>
	</head>

	<body>
		<img src="http://customview2.test/assets/custom/amazure/aqa/logo-6cf72e97e7f449d39be32100cc220cb6b707f4a3bd7ba4255f9ff966d43d4523.png" alt="AQA LOGO">
		 			<br>
		 			<br>
		<h2> Thank you</h2>
		 		
		 <p> You have reached the last page of this questionnaire. <br>
		 Please now click on Submit to record your responses <br>
		Should you wish to review any of your responses before submitting then please use the Back button </p>

		<div class="btn-group">

    			<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/additional_comments" type="button" class="btn-default">Back</a>
		 		<a href="http://localhost:3000/custom/sample_client/new_tool/data_collection_controller/additional_comments">Submit</a>

		 
		 	<footer>
      			<div class="container">
       			<div class="col-md-10 col-md-offset-1 text-center margin-top-x2 margin-bottom-x4">
          		<small>
            &copy;2018 AM Azure Consulting Ltd - All Rights Reserved
            |
            <a target="_blank" href="http://www.aqa.org.uk">http://www.aqa.org.uk</a>
            |
            <a target="_blank" href="http://www.aqa.org.uk/about-us/privacy-policy">Privacy</a>
          		</small>
        		</div>
      			</div>		
    		</footer>

	</body>
</htmL>