<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>


			<h1>Thank you</h1>

			<p>
				You have reached the last page of this questionnaire.
			</p>

			<p>
				Please now click on Submit to record your responses.
			</p>

			<p>
				Should you wish to review any of your responses before submitting then please use the Back button.
			</p>

			<p>
				Thank you for completing the questionnaire. The feedback and insights that you have provided will be anonymously combined (unless you are the individual’s line manager) with the feedback from the other feedback respondents and given to the individual in a consolidated report for use in their personal development planning.
			</p>

			<div class="row text-center margin-top-x2">
				<%= link_to "Back", "additional_comments", class:'btn btn-default' %>
				&nbsp;
				<%= link_to "Submit", "thank_you2", class: 'btn btn-primary' %>
			</div>

		</div>
	</div>
</div>