<div class='container page page-border questionnaire margin-top'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
		<h1>Thank you</h1>
		 		
		 <p> 
		 	You have reached the last page of this questionnaire. Please now click on Submit to record your responses. Should you wish to review any of your responses before submitting then please use the Back button 
		 </p>

		<div class="row text-center">

			<%= link_to "Back", "additional_comments", class:'btn btn-default' %>
			


			<%= link_to "Submit", "thank_you2", class: 'btn btn-primary' %>
		</div>


		</div>