
<img src="http://customview2.test/assets/custom/amazure/aqa/logo-6cf72e97e7f449d39be32100cc220cb6b707f4a3bd7ba4255f9ff966d43d4523.png" alt="AQA LOGO">
<br>
<br>
<h2 style="color:#492a85">Thank You</h2>
<hr>

<button type="button" class="btn btn-lg btn-primary" disabled>Go Back to the Portal Page</button>
<button type="button" class="btn btn-lg btn-primary" disabled>Logout</button>

<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center margin-top-x2 margin-bottom-x4">
      <small>
        &copy;2018 AM Azure Consulting Ltd - All Rights Reserved
        |
        <a target="_blank" href="http://www.aqa.org.uk">http://www.aqa.org.uk</a>
        |
        <a target="_blank" href="http://www.aqa.org.uk/about-us/privacy-policy">Privacy</a>
      </small>
    </div>
  </div>		
</footer>
