<h1>Team Accelerator Questionnaire</h1>

<% #page numbers %>

  <% (1..2).each do |open_ended_question| %>
        <div>
          Question example<br>
          <%= text_area_tag "Free_response", "" %>
          <%= hidden_field_tag "free_response", true %>
        </div>
      <% end %>
    <hr>
  <% end %>

  <%= link_to "Previous", '/custom/sample_client/new_tool/data_collection/additional_intro"', class: 'btn btn-lg btn-primary' %>
  <%= link_to "Next", '/custom/sample_client/new_tool/data_collection/additional_intro"', class: 'btn btn-lg btn-primary' %>