<small>
<p>
<strong>
  <i>Information</i>
</strong>
<p>
  To select your rating, use your mouse to click on the response which best reflects your evaluation of the team.
</p>
</p>
</small>
</div>
    <div class='col-xs-12 text-justify margin-top'>
      <small>
        <ul class='text-left' style='padding-left:20px;list-style:none;display:block;'>
            <li>1 = Strongly disagree</li>
            <li>2 = Disagree</li>
            <li>3 = Neither agree nor disagree</li>
            <li>4 = Agree</li>
            <li>5 = Strongly agree</li>

            <li>CS = Cannot say</li>
        </ul>
      </small>
    </div>


    <h2 class="panel-title">
      Team Accelerator: Drive Factors
    </h2>

            As a team, our strengths are:

    <% (1..5).each do %>
      <tr>
      <td>
        1.
      </td>
      <td>
        value for customers is at the center of everything we do
      </td>

      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_1" value="1" />
      </td>
      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_2" value="2" checked="checked" />
      </td>
      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_3" value="3" />
      </td>
      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_4" value="4" />
      </td>
      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_5" value="5" />
      </td>
      <td class="text-center col-scale-radio-button">
          <input type="radio" name="question_113_scale_19" id="question_113_scale_19_-128" value="-128" />
      </td>
      </tr>
    <% end %>

      <div class="panel-body text-center">

        <%= link_to "Back", "#" %>

        <%= link_to "Next", "#" %>
      </div>