<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 23} %>
		<div class="col-6 contentmain">
			<h1>Pivotal Experiences and Expertise</h1>
			<h3>Rate the extent of your current <b>experience</b> in the following areas:</h3>
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>Financial Acumen:</i></b> Diverse financial abilities, including financial planning and analysis, M&A/corporate development, investor relations, control, accounting, external financial reporting, shared services finance, corporate tax, treasury, credit risk, audit, strategy and business development, capital management, and currency hedging. </p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp" id="c1">
							<label for="c1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c2">
							<label for="c2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c3">
							<label for="c3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>Operational Acumen:</i></b> Creating efficient plans and processes to enable reliable execution of strategies, on time and within budget, and continuously improving those approaches</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp2" id="d1">
							<label for="d1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="d2">
							<label for="d2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="d3">
							<label for="d3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>Stakeholder Management:</i></b> Ability to navigate and build top-level relationships across an organization, with Boards of Directors, other external stakeholders, etc.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp3" id="e1">
							<label for="e1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="e2">
							<label for="e2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="e3">
							<label for="e3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>Stakeholder Management:</i></b> Ability to navigate and build top-level relationships across an organization, with Boards of Directors, other external stakeholders, etc.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp4" id="f1">
							<label for="f1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="f2">
							<label for="f2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="f3">
							<label for="f3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>Strategic Contributions:</i></b> Formulating and implementing impactful strategic plans and insights, based on external market insight.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp5" id="g1">
							<label for="g1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="g2">
							<label for="g2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="g3">
							<label for="g3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>People Leadership Responsibilities:</i></b> Being in charge of, and responsible for, a team of employees.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp6" id="h1">
							<label for="h1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp6" id="h2">
							<label for="h2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp6" id="h3">
							<label for="h3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>High Growth Exposure:</i></b> Conceiving and executing growth strategies including both organic and inorganic initiatives.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp7" id="i1">
							<label for="i1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp7" id="i2">
							<label for="i2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp7" id="i3">
							<label for="i3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>People Leadership Responsibilities:</i></b>Being in charge of, and responsible for, a team of employees.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp8" id="j1">
							<label for="j1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp8" id="j2">
							<label for="j2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp8" id="j3">
							<label for="j3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="intr">
				<div class="inl qtxt">
					<p><b><i>High Growth Exposure:</i></b> Conceiving and executing growth strategies including both organic and inorganic initiatives.</p>
				</div>
				<div class="inl qtxt">
					<ul>
						<li>
							<input type="radio" name="exp9" id="k1">
							<label for="k1">Limited Experience</label>
						</li>
						<li>
							<input type="radio" name="exp9" id="k2">
							<label for="k2">Moderate Experience</label>
						</li>
						<li>
							<input type="radio" name="exp9" id="k3">
							<label for="k3">Extensive Experience</label>
						</li>
					</ul>
				</div>
			</div>

			<br class="clear"><br>
			<a href="page_9" class="reg_btn">Back</a> <a href="page_11" class="reg_btn">Next</a>
		</div>
	</div>
</div>