<div class="maincont">
	<div class="row">
		<div class="col-6 contentmain">
			<h1>Welcome</h1>
			<p>As part of a broader career development exercise, you have been invited to complete the Infinity Framework assessment, which will provide a comprehensive view into your personal leadership. Specifically, this assessment will provide insights into your current and future Pivotal Experiences and Expertise, Leadership Capabilities, Agility & Potential, and Culture Fit & Impact. </p>
			<p>The Infinity Framework assessment is composed of three modules. Each module will provide insights into core strengths and areas for development in your personal leadership and performance trajectory. </p>
			<br class="clear">
			<a href="page_4" class="reg_btn">Next</a>
		</div>
	</div>
</div>