<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 70} %>        
		<div class="col-6 contentmain">
			<h1>Additional Questions</h1>

			<p>This final section contains seven questions and is for research purposes only. Your responses are anonymous and will only be shared in aggregate along with the responses of other individuals.</p>

			<p>If there is a question you cannot answer, select ‘Cannot Say,’ but please attempt to answer as many questions as you can.</p>

			<p>Similarly, should you wish to pause before continuing to the next module, please click on the ‘Save’ button below to save your progress and return to the Dashboard.</p>

			<br class="clear"><br>
			<a href="page_28" class="reg_btn">Back</a> <a href="page_30" class="reg_btn">Next</a>
		</div>
	</div>
</div>