<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 100} %>        
		<div class="col-6 contentmain">
			<h1>Submit Survey</h1>
			<p>Thank you for completing this survey.</p>
			<p>For more information, please visit <a href="http://www.heidrick.com">www.heidrick.com</a>.</p>
			<br class="clear"><br>
			<a href="page_33" class="reg_btn">Back</a> <a href="page_34" class="reg_btn">Next</a>
		</div>
	</div>
</div>