<div class="maincont">
	<div class="row">
		<div class="col-6 contentmain">
			<h1>About You</h1>
			<p>The demographic information captured as a part of the Infinity Framework assessment is confidential and gathered by Heidrick & Struggles for research purposes only. It will not be used in conjunction with any Executive Search or Heidrick Consulting engagements.</p>
      <p>Heidrick & Struggles takes great care to respect and maintain your privacy and to ensure that your personal data is secure. We strip your survey response of all information that could identify you personally and retain all data on secure, encrypted servers. While responding to these questions is voluntary on your part, your help in collecting this data is greatly appreciated.</p>
			<br class="clear">
			<a href="page_4" class="reg_btn">Back</a> <a href="page_6" class="reg_btn">Next</a>
		</div>
	</div>
</div>