<div class="maincont">
	<div class="row">
		<div class="col-6 contentmain">
			<h1>Privacy Notice</h1>
			<p><strong>Heidrick & Struggles Privacy Notice</strong></p>

			<p>Heidrick & Struggles International, Inc. (233 South Wacker Drive, Willis Tower, Suite 4900, Chicago, IL 60606) on behalf of itself and its affiliates ("Heidrick," "we," or "our"), provides this Privacy Notice to explain our practices regarding personally identifiable information ("Personal Data") we receive, collect, use, and share about you in connection with your use of the Leadership Accelerator Questionnaire (the “LAQ”) as part of our executive search or Heidrick consulting services (collectively, the “Services”). The LAQ provides insight into your personal leadership effectiveness.</p>
			<p>In connection with your participation in the LAQ, we may collect Personal Data such as your name, title, professional contact information, demographic details, results of any questionnaire you complete, job performance, reputation, and responses to interview questions. We collect your Personal Data for research purposes only from which we remove any individual identifiers. In regards to the specific executive search or Heidrick consulting engagement we use the results captured in the LAQ to serve as one data point in a broader collection effort to accurately diagnose the current state of affairs.</p>
			<p>We rely on your consent and the need to comply with our legal obligations as the legal grounds to process your Personal Data. We may also process information about you in an anonymized and non-attributable form for research and development purposes.</p>
			<p>We may share your Personal Data with our affiliates and service providers in order to provide the Services, who must comply with confidentiality restrictions regarding your Personal Data. Heidrick may also disclose your Personal Data to governmental authorities, as required or permitted by applicable law, and as part of any merger, acquisition, or sale of company assets. Some of these recipients may be located in countries, which do not provide the same level of protection for Personal Data as the European Union or the European Economic Area. We take appropriate steps, where required, to provide appropriate safeguards for Personal Data to be transferred, including, among others and as applicable, standard data protection clauses adopted or approved by the European Commission. You can ask for a copy of such safeguards by contacting us as detailed below.</p>
			<p>We maintain and require service providers to maintain reasonable physical, electronic, and organizational security measures to protect your Personal Data against accidental or unlawful destruction, or accidental loss, alteration, or unauthorized disclosure or access.</p>
			<p>Your Personal Data is stored to the extent necessary for the performance of our Services and the time necessary to achieve the purposes for which the Personal Data was collected, in accordance with applicable law. When Heidrick no longer needs to use your Personal Data, we will – unless we need to keep your Personal Data to comply with legal or regulatory obligations to which Heidrick is subject to or the Personal Data is required to carry out corporate tasks and achieve our business objectives – remove it from our systems and records and/or take steps to properly anonymize it so that you can no longer be identified from it.</p>
			<p>To the extent permitted by applicable law, you may have the right to update your Personal Data, or exercise rights of access, correction, deletion, to restrict or object to certain processing, revoke consent, or request data portability, by contacting us as detailed below.</p>
			<p>If you have any questions about this Privacy Notice or our privacy practices, please contact us at <a href="mailto:privacy@heidrick.com">privacy@heidrick.com</a>.</p>
			<p><strong>Confirmation of Privacy Policy</strong> To accept our Privacy Policy and complete the online questionnaire please check the box.</p>
			
			
			
			<p><b><input type="checkbox"/> I agree for the information to be used in accordance with our Privacy Policy</b></p>
			<br class="clear"><br>
			<a href="page_3" class="reg_btn">Back</a> <a href="page_5" class="reg_btn">Next</a>
		</div>
	</div>
</div>