<div class="maincont">
	<div class="row">
		<div class="col-6 cont">
			<h1>Please complete the form below:</h1>
			<form action="page_2">
				<input type="text" placeholder="First Name" />
				<input type="text" placeholder="Surname" />
				<p>Please choose a password which is at least 8 characters long and must include three of the following: one uppercase letter, one lowercase letter, one special character and one number.</p>
				<input type="password" placeholder="Choose Password" />
				<input type="password" placeholder="Repeat Password" />
				<input type="submit" value="Register" class="reg_btn" />
			</form>
			<div class="proceed">
				<h2 class="inl">Already Registered?</h2>
				<a class="sign_in inl" href="page_2">Sign In</a>
			</div>
		</div>
	</div>
</div>