<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 8} %>

		<div class="col-6 contentmain">
			<h1>Pivotal Experiences and Expertise</h1>
			<p>Please select both the Role and Industry to which you aspire toward. If you do not have a preference for Industry, please select ‘General’.</p>
			<form class="abtyou fl">
				<label>A senior leader within the following functions</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Aspirational Industry</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
			</form>
			<br class="clear"><br>
			<a href="page_7" class="reg_btn">Back</a> <a href="page_9" class="reg_btn">Next</a>
		</div>
	</div>
</div>