<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 28} %>
		<div class="col-6 contentmain">
			<h1>Completed Pivotal Experiences and Expertise Self-Evaluation</h1>
			<p>You have completed the Pivotal Experiences and Expertise Self-Evaluation. Please click on the ‘Complete’ button below to conclude and to continue onto the second module pertaining to your Leadership Capabilities and Agility & Potential.</p>
			<p>Should you wish to review any of your responses before submitting, please use the ‘Back’ button. </p>
			<p>Similarly, should you wish to pause before continuing to the next module, please click on the ‘Save’ button below to save your progress and return to the Dashboard.</p>
			<br class="clear"><br>
			<a href="page_10" class="reg_btn">Back</a> <a href="page_12" class="reg_btn">Next</a>
		</div>
	</div>
</div>