<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 60} %>        
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<h3>Which of these behaviors are likely to derail or constrain your effectiveness?</h3>
			<div class="intr">
				<div class="inl qtxt nt3">
					<p><b>1a.</b> promotes use of robust data analytics in developing new digital initiatives</p>
				</div>
				<div class="inl qtxt nt4">
					<ul>
						<li>
							<input type="radio" name="exp" id="a1">
							<label for="a1">No</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a2">
							<label for="a2">Yes</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt3">
					<p><b>1b.</b> evokes a strong sense of ownership in others for delivering results</p>
				</div>
				<div class="inl qtxt nt4">
					<ul>
						<li>
							<input type="radio" name="exp2" id="b1">
							<label for="b1">No</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b2">
							<label for="b2">Yes</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt3">
					<p><b>1c</b>. asks questions to create clarity for others and self</p>
				</div>
				<div class="inl qtxt nt4">
					<ul>
						<li>
							<input type="radio" name="exp3" id="c1">
							<label for="c1">No</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c2">
							<label for="c2">Yes</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt3">
					<p><b>1d.</b> Falling back on established ways of working rather than embracing change</p>
				</div>
				<div class="inl qtxt nt4">
					<ul>
						<li>
							<input type="radio" name="exp4" id="d1">
							<label for="d1">No</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d2">
							<label for="d2">Yes</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt3">
					<p><b>1e.</b> Not encouraging risk taking and having a low tolerance for mistakes</p>
				</div>
				<div class="inl qtxt nt4">
					<ul>
						<li>
							<input type="radio" name="exp5" id="e1">
							<label for="e1">No</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e2">
							<label for="e2">Yes</label>
						</li>
					</ul>
				</div>
			</div>

			<br class="clear"><br>
			<a href="page_17" class="reg_btn">Back</a> <a href="page_19" class="reg_btn">Next</a>
		</div>
	</div>
</div>