<div class="maincont">
	<div class="row">
		<div class="col-6 cont">
			<h1>Sign In</h1>
			<form>
				<p>Please use your email address and password to enter the feedback system</p>
				<p class="info">If you cannot remember your password, use the ‘Forgot Your Password?’ link to select a new one.</p>
				<input type="text" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a class="sign_in inl" href="page_3">Sign In</a>
			</form>
		</div>
	</div>
</div>