<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 36} %>        
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<p>You will be presented with a series of screens, each displaying a set of three statements reflecting different leadership behaviors and outcomes for you to rate.</p>
			<p>In making your ratings, please select your choice from “Strongly Disagree” to “Strongly Agree” (1-5).</p>
			<p>Where you provide identical ratings, you may then be asked to indicate which statement is more or less true of you. This will help provide a more differentiated profile of your relative strengths and gaps.</p>
			<p>{We recommend that you complete this portion of the assessment in one session. It will take approximately 20-30 minutes to complete.}</p>
			<br class="clear"><br>
			<a href="page_12" class="reg_btn">Back</a> <a href="page_14" class="reg_btn">Next</a>
		</div>
	</div>
</div>