<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 50} %>        
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<p><em>Which of the statements is more true of you? Click and drag with your mouse, or if using a tablet, hold and drag with your finger, the statements into rank order from more true at the top to less true at the bottom.</em></p>
			<ul id="sortable">
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p>promotes use of robust data analytics in developing new digital initiatives
</p></div></li>
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p>asks questions to create clarity for others and self</p></div></li>
			</ul>
			<br class="clear"><br>
			<a href="page_15" class="reg_btn">Back</a> <a href="page_21" class="reg_btn">Next</a>
		</div>
	</div>
</div>