<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 75} %>

		<div class="col-6 contentmain">
			<h1>Additional Questions</h1>
			<form class="abtyou fl">
				<label>Taking everything into account, how would you describe your overall leadership impact?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Others would describe me as creating an inclusive work environment?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>During the past five years, how many times have you been promoted?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>During the past five years, how many times has your role expanded in scope or complexity?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Others would describe me as valuing diverse backgrounds, experiences, and perspectives?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
			</form>
			<br class="clear"><br>
			<a href="page_21" class="reg_btn">Back</a> <a href="page_23" class="reg_btn">Next</a>
		</div>
	</div>
</div>