<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 52} %>        
		<div class="col-6 contentmain">
			<h1>Potential Derailers</h1>
			<p>No leader is perfect. Even great leaders have derailers or potential derailers that can hold them back from peak performance. The following list contains some of the most common derailers.</p>
			<p>Please review each set of behaviors and indicate those which may be potential derailers or performance risks for you.</p>
			<br class="clear"><br>
			<a href="page_16" class="reg_btn">Back</a> <a href="page_18" class="reg_btn">Next</a>
		</div>
	</div>
</div>