<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 86} %>        
		<div class="col-6 contentmain">
			<h1>How You Think</h1>
			<p>For each set of items, please select the extent to which one side or the other represents your point of view.</p>
			<div class="intr">
				<div class="fl qtxt tt1">
					<p><i>I am demonstrative..</i></p>
				</div>
				<div class="fr qtxt tt2">
					<p><i>I am calm..</i></p>
				</div>
				<div class="inl qtxt tt3">
					<ul>
						<li>
							<input type="radio" name="exp" id="a1">
							<label for="a1">Extremely</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a2">
							<label for="a2">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a3">
							<label for="a3">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a4">
							<label for="a4">Neither</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a5">
							<label for="a5">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a6">
							<label for="a6">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a7">
							<label for="a7">Extremely</label>
						</li>
					</ul>
				</div>
				<br class="clear">
			</div>

			<div class="intr">
				<div class="fl qtxt tt1">
					<p><i>I am steadfast..</i></p>
				</div>
				<div class="fr qtxt tt2">
					<p><i>I am excitable.</i></p>
				</div>
				<div class="inl qtxt tt3">
					<ul>
						<li>
							<input type="radio" name="exp2" id="b1">
							<label for="b1">Extremely</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b2">
							<label for="b2">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b3">
							<label for="b3">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b4">
							<label for="b4">Neither</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b5">
							<label for="b5">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b6">
							<label for="b6">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b7">
							<label for="b7">Extremely</label>
						</li>
					</ul>
				</div>
				<br class="clear">
			</div>

			<div class="intr">
				<div class="fl qtxt tt1">
					<p><i>I am meticulous..</i></p>
				</div>
				<div class="fr qtxt tt2">
					<p><i>I am impulsive..</i></p>
				</div>
				<div class="inl qtxt tt3">
					<ul>
						<li>
							<input type="radio" name="exp3" id="c1">
							<label for="c1">Extremely</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c2">
							<label for="c2">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c3">
							<label for="c3">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c4">
							<label for="c4">Neither</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c5">
							<label for="c5">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c6">
							<label for="c6">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c7">
							<label for="c7">Extremely</label>
						</li>
					</ul>
				</div>
				<br class="clear">
			</div>

			<div class="intr">
				<div class="fl qtxt tt1">
					<p><i>I am assertive..</i></p>
				</div>
				<div class="fr qtxt tt2">
					<p><i>I am cautious..</i></p>
				</div>
				<div class="inl qtxt tt3">
					<ul>
						<li>
							<input type="radio" name="exp4" id="d1">
							<label for="d1">Extremely</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d2">
							<label for="d2">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d3">
							<label for="d3">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d4">
							<label for="d4">Neither</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d5">
							<label for="d5">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d6">
							<label for="d6">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp4" id="d7">
							<label for="d7">Extremely</label>
						</li>
					</ul>
				</div>
				<br class="clear">
			</div>

			<div class="intr">
				<div class="fl qtxt tt1">
					<p><i>I seek other's ideas.</i></p>
				</div>
				<div class="fr qtxt tt2">
					<p><i>I seek other's ideas.</i></p>
				</div>
				<div class="inl qtxt tt3">
					<ul>
						<li>
							<input type="radio" name="exp5" id="e1">
							<label for="e1">Extremely</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e2">
							<label for="e2">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e3">
							<label for="e3">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e4">
							<label for="e4">Neither</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e5">
							<label for="e5">Somewhat</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e6">
							<label for="e6">Strongly</label>
						</li>
						<li>
							<input type="radio" name="exp5" id="e7">
							<label for="e7">Extremely</label>
						</li>
					</ul>
				</div>
				<br class="clear">
			</div>

			<br class="clear"><br>
			<a href="page_26" class="reg_btn">Back</a> <a href="page_28" class="reg_btn">Next</a>
		</div>
	</div>
</div>