<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 89} %>        
		<div class="col-6 contentmain">
			<h1>How You Succeed</h1>
			<p>Rank the following statements in order from greater to lesser based on what you believe have been the most critical factors to your success as a leader. To do so, click and drag each statement up or down. The initial list has been randomly selected for you. </p>
			<p>Click and drag with your mouse or hold and drag with your finger if using a tablet.</p>
			<ul id="sortable">
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p><b>Collaboration and Trust:</b><br>Creating frequent and open two-way communication with people; fostering openness and trust among people with high levels of feedback and coaching</p></div></li>
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p><b>Agility/Innovation/Growth:</b><br>Encouraging people to innovate, create and be open to change. Empowering people and having a bias for action and an urgency to move</p></div></li>
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p><b>Performance Orientation:</b><br>Having high expectations for performance and accountability for actions as a result. Being a self-starter</p></div></li>
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p><b>Positive Spirit/Vitality:</b><br>Creating an environment where there is teamwork, mutual support, and cooperation between and among people; where people are fun to be around, proud of what they do, and are willing to put in effort that is beyond normal expectations.</p></div></li>
			  <li><span><i class="material-icons">unfold_more</i></span><div class="inl"><p><b>Customer and Quality Focus:</b><br>Having a high focus on, and awareness of, quality and customer service.</p></div></li>
			</ul>
			<br class="clear"><br>
			<a href="page_25" class="reg_btn">Back</a> <a href="page_27" class="reg_btn">Next</a>
		</div>
	</div>
</div>