<div class="maincont">
	<div class="row">
		<div class="col-6 contentmain">
			<h1>About You</h1>
			<p>The demographic information captured as a part of the Infinity Framework assessment is confidential and gathered by Heidrick & Struggles for research purposes only. It will not be used in</p>
			<form class="abtyou fl">
				<input type="text" placeholder="Company Name" />
				<hr>
				<label>Gender</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Male</option>
					<option>Female</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Age</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Under 18 years</option>
					<option>18 to 24 years</option>
					<option>24 to 34 years</option>
					<option>35 to 44 years</option>
					<option>45 to 54 years</option>
					<option>55 to 64 years</option>
					<option>Age 65 or older</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Which industry sector best describes the organization you work in?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Consumer</option>
					<option>Education / Social Enterprise</option>
					<option>Financial Services</option>
					<option>Healthcare and Life Sciences</option>
					<option>Industrial</option>
					<option>Professinal Services</option>
					<option>Technology</option>
					<option>Other</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>How would you describe your current level?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Individual Contributor</option>
					<option>Manager</option>
					<option>Senior Manager</option>
					<option>Vice President / Senior Vice President</option>
					<option>C-Level (Reports to CEO)</option>
					<option>CEO (Reports to Board of Directors)</option>
					<option>Board of Director Member</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Which of the following functional areas most clearly describes your job?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Engineering / Scientific / Technical</option>
					<option>Finance</option>
					<option>Human Resources</option>
					<option>IT/IS</option>
					<option>Manufacturing / Production</option>
					<option>Marketing</option>
					<option>Operatioins</option>
					<option>Sales / Commercial</option>
					<option>Legal</option>
					<option>General Management</option>
					<option>Other</option>
					<option>Prefer not to respond</option>
				</select>
			</form>
			<br class="clear"><br>
			<a href="page_5" class="reg_btn">Back</a> <a href="page_7" class="reg_btn">Next</a>
		</div>
	</div>
</div>