<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 33} %>
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<p>In this module, you are being asked to complete a brief survey, which will provide insights into your personal leadership effectiveness. </p>
			<p>Even the most talented senior and high-potential leaders have clear capability spikes and less developed capabilities. This assessment is designed to highlight these strengths and development areas of your leadership.</p>
			<br class="clear"><br>
			<a href="page_11" class="reg_btn">Back</a> <a href="page_13" class="reg_btn">Next</a>
		</div>
	</div>
</div>