<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 40} %>        
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<p>This assessment asks a series of questions that provide an opportunity for you to reflect on your capability spikes and less developed capabilities. </p>
			<p>To create maximum value from this exercise, we recommend that you are open and honest. The first step in accelerating leadership performance toward your aspirational role is self-awareness about your strengths and development areas. </p>
			<br class="clear"><br>
			<a href="page_13" class="reg_btn">Back</a> <a href="page_15" class="reg_btn">Next</a>
		</div>
	</div>
</div>