<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 11} %>
		<div class="col-6 contentmain">
			<h1>Pivotal Experiences and Expertise</h1>
			<p>You indicated that your ultimate career aspiration was to lead the [Function] in a [Industry] business. On the next screen are the pivotal experiences and expertise our clients seek out when placing a senior executive in this role. </p>
			<p>For each item, consider where you have relevant experience and expertise and where you may need to develop in order to reach your stated aspiration. </p>
			<p>Then, rate the extent of your current experience and expertise on each item using a one to three scale, with one corresponding to ‘Limited’ and three corresponding to ‘Extensive’
</p>
			<br class="clear"><br>
			<a href="page_8" class="reg_btn">Back</a> <a href="page_10" class="reg_btn">Next</a>
		</div>
	</div>
</div>