<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 82} %>        
		<div class="col-6 contentmain">
			<h1>Culture Fit & Impact</h1>
			<p>In this module, you are being asked to complete an assessment which will provide insights into your current leadership style and impact.</p>
			<p>How you impact those around you and the culture you create are critical components for success. This assessment is designed to highlight these factors and identify your core characteristics and areas for heightened awareness.</p>
			<br class="clear"><br>
			<a href="page_23" class="reg_btn">Back</a> <a href="page_25" class="reg_btn">Next</a>
		</div>
	</div>
</div>