<div class="maincont">
	<div class="row">
		<div class="col-6 contentmain">
			<h1>Privacy Notice</h1>
			<p>Heidrick & Struggles Privacy Notice</p>
			<p>Heidrick & Struggles International, Inc. (233 South Wacker Drive, Willis Tower, Suite 4900, Chicago, IL 60606) on behalf of itself and its affiliates ("Heidrick," "we," or "our"), provides this Privacy Notice to explain our practices regarding personally identifiable information ("Personal Data") we receive, collect, use, and share about you in connection with your use of the Leadership Accelerator Questionnaire (the “LAQ”) as part of our executive search or Heidrick consulting services (collectively, the “Services”). The LAQ provides insight into your personal leadership effectiveness. </p>
			<p>In connection with your participation in the LAQ, we may collect Personal Data such as your name, title, professional contact information, demographic details, results of any questionnaire you complete, job performance, reputation, and responses to interview questions. We collect your Personal Data for research purposes only from which we remove any individual identifiers. </p>
			<p>To accept our Privacy Policy and complete the online questionnaire please check the box. </p>
			<p><b><input type="checkbox"/> I agree for the information to be used in accordance with our Privacy Policy</b></p>
			<br class="clear"><br>
			<a href="page_3" class="reg_btn">Back</a> <a href="page_5" class="reg_btn">Next</a>
		</div>
	</div>
</div>