<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 95} %>        
		<div class="col-6 contentmain">
			<h1>Additional Questions</h1>
			<h3>Rate the extent of your current expertise in the following areas:</h3>
			<p><b>To what extent do you feel your current responsibilities are preparing you to succeed in the future?</b></p>
			<div class="intr lst">
				<div class="qtxt lst">
					<ul>
						<li>
							<input type="radio" name="exp" id="c1">
							<label for="c1">Not at all</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c2">
							<label for="c2">To a little extent</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c3">
							<label for="c3">To a moderate extent</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c4">
							<label for="c4">To a great extent</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c5">
							<label for="c5">To a very great extent</label>
						</li>
						<li>
							<input type="radio" name="exp" id="c6">
							<label for="c6">Cannot Say</label>
						</li>
					</ul>
				</div>
			</div>
			<br class="clear"><br>
			<a href="page_29" class="reg_btn">Back</a> <a href="page_31" class="reg_btn">Next</a>
		</div>
	</div>
</div>