<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 5} %>
		<div class="col-6 contentmain">
			<h1>Pivotal Experiences and Expertise</h1>
			<p>Heidrick & Struggles Privacy Notice</p>
			<p>In the first module of the Infinity Framework assessment, you will complete a self-evaluation of your experiences and expertise.  </p>
			<p>This module is designed to highlight where you already possess relevant skills and experiences, and where you may need to develop, in order to reach your aspirational role.</p>
			<br class="clear"><br>
			<a href="page_6" class="reg_btn">Back</a> <a href="page_8" class="reg_btn">Next</a>
		</div>
	</div>
</div>