<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 97} %>        
		<div class="col-6 contentmain">
			<h1>Additional Questions</h1>
			<p>Please provide your thoughts on the following two questions:</p>
			<p><strong>How do you feel about your career progress to date?</strong></p>
			<textarea></textarea>
			<br class="clear"><br>
			<a href="page_30" class="reg_btn">Back</a> <a href="page_32" class="reg_btn">Next</a>
		</div>
	</div>
</div>