<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 65} %>        
		<div class="col-6 contentmain">
			<h1>Open-ended comments</h1>
			<p>This section provides an opportunity for you to add any additional comments on your leadership impact and approach.</p>
			<br class="clear"><br>
			<a href="page_18" class="reg_btn">Back</a> <a href="page_20" class="reg_btn">Next</a>
		</div>
	</div>
</div>