<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 70} %>        
		<div class="col-6 contentmain">
			<h1>Culture Fit & Impact</h1>

			<p>You have completed the third module. Please click on the ‘Complete’ button below to submit your survey and continue onto the final module.</p>

			<p>Should you wish to review any of your responses to the Culture Fit & Impact module before submitting, please use the ‘Back’ button.</p>

			<p>Similarly, should you wish to pause before continuing to the next module, please click on the ‘Save’ button below to save your progress and return to the Dashboard.</p>

			<br class="clear"><br>
			<a href="page_27" class="reg_btn">Back</a> <a href="page_29" class="reg_btn">Next</a> <a href="page_29" class="reg_btn">Complete</a>
		</div>
	</div>
</div>