<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 45} %>        
		<div class="col-6 contentmain">
			<h1>Leadership Capabilities and Agility & Potential</h1>
			<h3>Select the response which best reflects your evaluation</h3>
			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>1a. promotes use of robust data analytics in developing new digital initiatives</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp" id="a1">
							<label for="a1">Strongly disagree</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a2">
							<label for="a2">Disagree</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a3">
							<label for="a3">Neither agree nor disagree</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a4">
							<label for="a4">Agree</label>
						</li>
						<li>
							<input type="radio" name="exp" id="a5">
							<label for="a5">Strongly agree</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>1b. evokes a strong sense of ownership in others for delivering results</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp2" id="b1">
							<label for="b1">Strongly disagree</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b2">
							<label for="b2">Disagree</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b3">
							<label for="b3">Neither agree nor disagree</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b4">
							<label for="b4">Agree</label>
						</li>
						<li>
							<input type="radio" name="exp2" id="b5">
							<label for="b5">Strongly agree</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>1c. asks questions to create clarity for others and self</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp3" id="c1">
							<label for="c1">Strongly disagree</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c2">
							<label for="c2">Disagree</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c3">
							<label for="c3">Neither agree nor disagree</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c4">
							<label for="c4">Agree</label>
						</li>
						<li>
							<input type="radio" name="exp3" id="c5">
							<label for="c5">Strongly agree</label>
						</li>
					</ul>
				</div>
			</div>

			<br class="clear"><br>
			<a href="page_14" class="reg_btn">Back</a> <a href="page_16" class="reg_btn">Next</a>
		</div>
	</div>
</div>