<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 75} %>

		<div class="col-6 contentmain">
			<h1>Additional Questions</h1>
			<form class="abtyou fl">
				<label>Does Name make it more or less easy for you to do your work?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Taking everything into account, how would you describe Name's overall leadership impact?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Compared to their peers, how would you evaluate Name’s impact?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
				<label>Compared to their peers, does Name have more or less potential to succeed in roles of greater scope and complexity?</label><br class="clear">
				<select>
					<option>Select One</option>
					<option>Prefer not to respond</option>
				</select>
				<hr>
			</form>
			<br class="clear"><br>
			<a href="page_21" class="reg_btn">Back</a> <a href="page_23" class="reg_btn">Next</a>
		</div>
	</div>
</div>