<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 45} %>        
		<div class="col-6 contentmain">
			<h1>{{campaign name}} Voice of the Rising Leader</h1>
			<p>In your responses below, please indicate the extent to which you believe performance expectations are being met.  Remember, your responses are confidential and will not be linked to you personally.
      </p>

			<div class="intr intr-sm">
				<div class="inl qtxt nt1">
					<p><b>How would you rate the performance of the organization?
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_a" id="a1_a">
							<label for="a1_a">Does not meet expectations<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a2_a">
							<label for="a2_a">Partially meets expectations<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a3_a">
							<label for="a3_a">Meets expectations<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a4_a">
							<label for="a4_a">Exceeds expectations<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a5_a">
							<label for="a5_a">Far exceeds expectations<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr intr-sm">
				<div class="inl qtxt nt1">
					<p><b> How would you rate your work performance?
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_b" id="a1_b">
							<label for="a1_b">Does not meet expectations<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a2_b">
							<label for="a2_b">Partially meets expectations<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a3_b">
							<label for="a3_b">Meets expectations<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a4_b">
							<label for="a4_b">Exceeds expectations<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a5_b">
							<label for="a5_b">Far exceeds expectations<br />5</label>
						</li>
					</ul>
				</div>
      </div>
      
      <div class="intr intr-sm">
				<div class="inl qtxt nt1">
					<p><b>How would you rate the performance of your team or work group?
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_c" id="a1_c">
							<label for="a1_c">Does not meet expectations<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a2_c">
							<label for="a2_c">Partially meets expectations<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a3_c">
							<label for="a3_c">Meets expectations<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a4_c">
							<label for="a4_c">Exceeds expectations<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a5_c">
							<label for="a5_c">Far exceeds expectations<br />5</label>
						</li>
					</ul>
				</div>
      </div>
      
      <div class="intr intr-sm">
				<div class="inl qtxt nt1">
					<p><b>How would you rate the performance of your peers (people you work with across the organization)?
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_d" id="a1_d">
							<label for="a1_d">Does not meet expectations<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a2_d">
							<label for="a2_d">Partially meets expectations<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a3_d">
							<label for="a3_d">Meets expectations<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a4_d">
							<label for="a4_d">Exceeds expectations<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a5_d">
							<label for="a5_d">Far exceeds expectations<br />5</label>
						</li>
					</ul>
				</div>
      </div>
      
      <div class="intr intr-sm">
				<div class="inl qtxt nt1">
					<p><b>How do you think your manager would rate your performance?
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_e" id="a1_e">
							<label for="a1_e">Does not meet expectations<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a2_e">
							<label for="a2_e">Partially meets expectations<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a3_e">
							<label for="a3_e">Meets expectations<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a4_e">
							<label for="a4_e">Exceeds expectations<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a5_e">
							<label for="a5_e">Far exceeds expectations<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<br class="clear"><br>
			<a href="voice_of_the_rising_leader_1" class="reg_btn">Back</a> <a href="" class="reg_btn">Next</a>
		</div>
	</div>
</div>