<div class="maincont">
	<div class="row">
		<%= render :partial => "partials/custom/heidrick_and_struggles/infinity_framework_v1/survey/progress_bar", locals: {progress: 45} %>        
		<div class="col-6 contentmain">
			<h1>{{campaign name}} Voice of the Rising Leader</h1>
			<p>In your responses below, please indicate the extent to which you agree or disagree with the following statements:</p>
			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>I intend to look for a new job with another organization within the next year.</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_a" id="a1_a">
							<label for="a1_a">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a2_a">
							<label for="a2_a">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a3_a">
							<label for="a3_a">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a4_a">
							<label for="a4_a">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_a" id="a5_a">
							<label for="a5_a">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>The work I do is important to the success of this organization.
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_b" id="a1_b">
							<label for="a1_b">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a2_b">
							<label for="a2_b">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a3_b">
							<label for="a3_b">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a4_b">
							<label for="a4_b">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_b" id="a5_b">
							<label for="a5_b">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>My company provides me with the long-term professional development I desire
					</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_c" id="a1_c">
							<label for="a1_c">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a2_c">
							<label for="a2_c">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a3_c">
							<label for="a3_c">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a4_c">
							<label for="a4_c">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_c" id="a5_c">
							<label for="a5_c">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>My work provides the on-the-job development I need to be more effective.
					</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_d" id="a1_d">
							<label for="a1_d">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a2_d">
							<label for="a2_d">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a3_d">
							<label for="a3_d">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a4_d">
							<label for="a4_d">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_d" id="a5_d">
							<label for="a5_d">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>I frequently think about quitting my job and leaving this company.
					</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_e" id="a1_e">
							<label for="a1_e">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a2_e">
							<label for="a2_e">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a3_e">
							<label for="a3_e">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a4_e">
							<label for="a4_e">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_e" id="a5_e">
							<label for="a5_e">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="intr">
				<div class="inl qtxt nt1">
					<p><b>I understand my job and what I have to do to be successful.
						</b></p>
				</div>
				<div class="inl qtxt nt2">
					<ul>
						<li>
							<input type="radio" name="exp_f" id="a1_f">
							<label for="a1_f">Strongly disagree<br />1</label>
						</li>
						<li>
							<input type="radio" name="exp_f" id="a2_f">
							<label for="a2_f">Disagree<br />2</label>
						</li>
						<li>
							<input type="radio" name="exp_f" id="a3_f">
							<label for="a3_f">Neither agree nor disagree<br />3</label>
						</li>
						<li>
							<input type="radio" name="exp_f" id="a4_f">
							<label for="a4_f">Agree<br />4</label>
						</li>
						<li>
							<input type="radio" name="exp_f" id="a5_f">
							<label for="a5_f">Strongly agree<br />5</label>
						</li>
					</ul>
				</div>
			</div>

			<br class="clear"><br>
			<a href="" class="reg_btn">Back</a> <a href="voice_of_the_rising_leader_2" class="reg_btn">Next</a>
		</div>
	</div>
</div>