<div class="contents">


  <div class="row">
    <div class="col-lg-9">
      <h1>Behavior Summary</h1>
      <p>The average scores on a behavior level grouped by competency for each rater type</p>

      <div class="pt-2"></div>

      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th class="th1">Creates and Maintains Impact and Partnerships</th>
              <th class="th2">Self</th>
              <th class="th3">Manager</th>
              <th class="th4">Peer</th>
              <th class="th5">Team Member</th>
              <th class="th6">Others</th>
              <th class="th7">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:50%">TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
          </tbody>
        </table>

        <div class="pt-2"></div>

        <table class="table">
          <thead>
            <tr>
              <th class="th1">Innovates and Takes Risks</th>
              <th class="th2">Self</th>
              <th class="th3">Manager</th>
              <th class="th4">Peer</th>
              <th class="th5">Team Member</th>
              <th class="th6">Others</th>
              <th class="th7">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:50%">TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
          </tbody>
        </table>

        <div class="pt-2"></div>

        <table class="table">
          <thead>
            <tr>
              <th class="th1">Manages Complexity and Change</th>
              <th class="th2">Self</th>
              <th class="th3">Manager</th>
              <th class="th4">Peer</th>
              <th class="th5">Team Member</th>
              <th class="th6">Others</th>
              <th class="th7">Average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:50%">TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
            <tr>
              <td>TBC</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">3.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left">5.0</td>
              <td class="border-left border-right">3.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-3">
      <%= render :partial => "partials/custom/coaching/dashboard/tool/sidebar" %>
    </div>
  </div>

</div>