<div class="contents">

  <div class="row">
    <div class="col-lg-9">
      <h1>Competency Summary Scores</h1>
      <p>The average score for each competency also indicating the number of respondents in each rater type</p>

      <div class="pt-2"></div>

      <div class="table-wrapper">
        <div class="chart-wrapper">
          <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
        </div>

        <hr>

        <div class="chart-wrapper">
          <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
        </div>

        <hr>

        <div class="chart-wrapper">
          <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <%= render :partial => "partials/custom/coaching/dashboard/tool/sidebar" %>
    </div>

  </div>

</div>