<div class="contents">

  <div class="row">
    <div class="col-lg-9">
      <h1>Competency Summary Scores</h1>
      <p>The average score for each competency also indicating the number of respondents in each rater type</p>

      <div class="pt-2"></div>

      <div class="table-wrapper">
        <div class="chart-wrapper">
          <div id="chartContainer3" class="chart_summary" data-chartname="Creates and Maintains Impact and Partnerships" data-chartvar="Average Score"
          data-chartdetails="[{ indexLabel: '3.50', y: 5, label: 'Average (n=50)', color: '#309ce8' },{ indexLabel: '4.00', y: 2, label: 'Others (n=50)', color: '#f1c859' },{ indexLabel: '2.50', y: 8, label: 'Team Member (n=100)', color: '#e52b86' },{ indexLabel: '3.50', y: 4, label: 'Peer (n=50)', color: '#8ad74e' },{ indexLabel: '1.00', y: 5, label: 'Manager(n=250)', color: '#ef0000' },{ indexLabel: '3.50', y: 6, label: 'Self (n=500)', color: '#002b66' }]"></div>
        </div>

        <hr>

        <div class="chart-wrapper">
          <div id="chartContainer4" class="chart_summary" data-chartname="Innovates and Takes Risk" data-chartvar="Average Score"
          data-chartdetails="[{ indexLabel: '3.50', y: 5, label: 'Average (n=50)', color: '#309ce8' },{ indexLabel: '4.00', y: 2, label: 'Others (n=50)', color: '#f1c859' },{ indexLabel: '2.50', y: 8, label: 'Team Member (n=100)', color: '#e52b86' },{ indexLabel: '3.50', y: 4, label: 'Peer (n=50)', color: '#8ad74e' },{ indexLabel: '1.00', y: 5, label: 'Manager(n=250)', color: '#ef0000' },{ indexLabel: '3.50', y: 6, label: 'Self (n=500)', color: '#002b66' }]"></div>
        </div>

        <hr>

        <div class="chart-wrapper">
          <div id="chartContainer5" class="chart_summary" data-chartname="Manages Complexity and Change" data-chartvar="Average Score"
          data-chartdetails="[{ indexLabel: '3.50', y: 5, label: 'Average (n=50)', color: '#309ce8' },{ indexLabel: '4.00', y: 2, label: 'Others (n=50)', color: '#f1c859' },{ indexLabel: '2.50', y: 8, label: 'Team Member (n=100)', color: '#e52b86' },{ indexLabel: '3.50', y: 4, label: 'Peer (n=50)', color: '#8ad74e' },{ indexLabel: '1.00', y: 5, label: 'Manager(n=250)', color: '#ef0000' },{ indexLabel: '3.50', y: 6, label: 'Self (n=500)', color: '#002b66' }]"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <%= render :partial => "partials/custom/coaching/dashboard/tool/sidebar" %>
    </div>

  </div>

</div>