<div class="contents">


  <div class="row">
    <div class="col-lg-9">
      <h1>Highest and Lowest Rated Behaviors</h1>
      <p>The behaviors identified as the highest and lowest rated</p>

      <div class="pt-2"></div>

      <div class="table-wrapper">

        <h3>Highest Rated Behaviors</h3>

        <table class="table rated">
          <thead>
            <tr>
              <th>Score</th>
              <th>Behaviors</th>
              <th>Competencies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Manages Complexity and Change</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Manages Complexity and Change</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
          </tbody>
        </table>

        <div class="pt-2"></div>

        <h3>Lowest Rated Behaviors</h3>

        <table class="table rated">
          <thead>
            <tr>
              <th>Score</th>
              <th>Behaviors</th>
              <th>Competencies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Manages Complexity and Change</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Manages Complexity and Change</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
            <tr>
              <td>4.67</td>
              <td style="width:50%">TBC</td>
              <td>Innovates and Takes Risks</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-3">
      <%= render :partial => "partials/custom/coaching/dashboard/tool/sidebar" %>
    </div>
  </div>

</div>