<div class="contents">

  <div class="row">
    <div class="col-lg-9">
      <h1>Summary</h1>
      <p>How many respondents completed for each rater type and average respondent time to complete</p>

      <div class="pt-2"></div>

      <div class="table-wrapper">
        <div class="chart-wrapper">
          <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>

        <hr>

        <div class="chart-wrapper">
          <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <%= render :partial => "partials/custom/coaching/dashboard/tool/sidebar" %>
    </div>

  </div>

</div>