<div class="py-3">
	<div class="head">
		<div class="hidden-sm hidden-xs question-options">
			<div>Unplayed</div>
			<div>Developing</div>
			<div>Performing</div>
			<div>Excelling</div>
			<div> Not Relevant</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>1</p></div>
			<div class="inquiry-text"><p>Ensures their teams meet the needs of their business stakeholders</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio111">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio111">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio111">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio111">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked"  name="radio111">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>2</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio222">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio222">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..."  checked="checked" name="radio222">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio222">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio222">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	
	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>3</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio333">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio333">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio333">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio333">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..."  checked="checked" name="radio333">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>4</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio444" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio444">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio444">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio444">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio444">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>5</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" name="radio555" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio555">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio555">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio555">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked" name="radio555">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>6</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio666" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio666">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio666">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio666">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio666">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>7</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio777" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio777">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio777">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio777">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio777">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>8</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" name="radio888" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio888">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." checked="checked" name="radio888">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio888">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio888">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio"  name="radio999" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." checked="checked" name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
  </div>
  	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio"  name="radio999" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." checked="checked" name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio999">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>
</div>