<div class="py-3">
	<div class="head">
		<div class="f-child">
			<div class="delivery-wrapper">
				<div class="delivery">
          <%= image_tag 'custom/standard_chartered/assessment/survey/icon-delivery.png' %>
				</div>
				<div class="delivery-text">Delivery</div>
			</div>
			
			<p class="p-italic">
				Able to deliver to business stakeholders effectively and consistently so that they remark how easy we are to do
					business with.</p>
		</div>
	
		<div class="hidden-sm hidden-xs question-options">
			<div>Unplayed</div>
			<div>Developing</div>
			<div>Performing</div>
			<div>Excelling</div>
			<div> Not Relevant</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>1</p></div>
			<div class="inquiry-text"><p>Ensures their teams meet the needs of their business stakeholders</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio11">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio11"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio11"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio11"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked"  name="radio11"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>2</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio21">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio21"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..."  checked="checked" name="radio21"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio21"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio21"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	
	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>3</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio31">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio31"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio31"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio31"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..."  checked="checked" name="radio31"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>4</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio41" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio41"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio41"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio41"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio41"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>5</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio51" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio51"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio51"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio51"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio51"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>6</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio61" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio61"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio61"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio61"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio61"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>7</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio71" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio71"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio71"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio71"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio71"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>8</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio81" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio81"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio81"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio81"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio81"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio91" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio91"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio91"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio91"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio91"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>


</div>

<div class="py-3">
	<div class="head">
		<div class="f-child">
			<div class="delivery-wrapper">
				<div class="insights">
          <%= image_tag 'custom/standard_chartered/assessment/survey/icon-insight.png' %>
				</div>
				<div class="delivery-text">Insights</div>
			</div>
			
			<p class="p-italic">Able to deliver to business stakeholders effectively and consistently so that they <br/> remark how easy we are to do
					business with.Sint laborum minim reprehenderit et magnanostrud aliquip ut in laborum pariatur  y es ullamco eiusmod quis nostrud.</p>
		</div>
	
		<div class="question-options hidden-sm hidden-xs">
			<div>Unplayed</div>
			<div>Developing</div>
			<div>Performing</div>
			<div>Excelling</div>
			<div> Not Relevant</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>1</p></div>
			<div class="inquiry-text"><p>Ensures their teams meet the needs of their business stakeholders</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio1">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio1"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio1"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio1"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked"  name="radio1"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>2</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio22">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio22"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..."  checked="checked" name="radio22"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio22"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio22"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	
	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>3</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio33">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio33"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio33"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio33"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..."  checked="checked" name="radio33"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>4</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio44" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio44"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio44"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio44"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio44"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>5</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio55" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio55"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio55"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio55"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio55"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>6</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio6" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio66"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio66"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio66"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio66"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>7</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio77" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio77"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio77"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio77"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio77"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>8</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio88" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio88"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio88"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio88"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio88"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio99" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio99"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio99"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio99"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio99"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>


</div>

<div class="py-3">
	<div class="head">
		<div class="f-child">
			<div class="delivery-wrapper">
				<div class="client">
          <%= image_tag 'custom/standard_chartered/assessment/survey/icon-client.png' %>
				</div>
				<div class="delivery-text">Client</div>
			</div>
			
			<p class="p-italic">Able to deliver to business stakeholders effectively and consistently so that they <br/> remark how easy we are to do
					business with.Sint laborum minim reprehenderit et magnanostrud aliquip ut in laborum pariatur  y es ullamco eiusmod quis nostrud.</p>
		</div>
	
		<div class="question-options hidden-sm hidden-xs">
			<div>Unplayed</div>
			<div>Developing</div>
			<div>Performing</div>
			<div>Excelling</div>
			<div> Not Relevant</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>1</p></div>
			<div class="inquiry-text"><p>Ensures their teams meet the needs of their business stakeholders</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio0">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio0"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio0"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio0"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked"  name="radio0"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>2</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio20">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio20"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..."  checked="checked" name="radio20"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio20"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio20"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	
	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>3</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio30">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio30"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio30"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio30"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..."  checked="checked" name="radio30"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>4</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio40" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio40"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio40"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio40"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio40"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>5</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio50" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio50"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio50"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio50"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio50"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>6</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio60" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio60"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio60"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio60"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio60"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>7</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio70" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio70">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio70"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio70"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio70"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>8</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio80" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio80"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio80"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio80"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio80"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio90" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio90"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio90"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio90"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio90"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>


</div>

<div class="py-3">
	<div class="head">
		<div class="f-child">
			<div class="delivery-wrapper">
				<div class="expertise">
          <%= image_tag 'custom/standard_chartered/assessment/survey/icon-expertise.png' %>
				</div>
				<div class="delivery-text">Expertise</div>
			</div>
			
			<p class="p-italic">Able to deliver to business stakeholders effectively and consistently so that they <br/> remark how easy we are to do
					business with.Sint laborum minim reprehenderit et magnanostrud aliquip ut in laborum pariatur  y es ullamco eiusmod quis nostrud.</p>
		</div>
	
		<div class="question-options hidden-sm hidden-xs">
			<div>Unplayed</div>
			<div>Developing</div>
			<div>Performing</div>
			<div>Excelling</div>
			<div> Not Relevant</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>1</p></div>
			<div class="inquiry-text"><p>Ensures their teams meet the needs of their business stakeholders</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." checked="checked"  name="radio"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>2</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio2">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio2"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..."  checked="checked" name="radio2"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio2"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio2"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	
	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>3</p></div>
			<div class="inquiry-text"><p>Anticipates stakeholder needs to make timely decisions.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" aria-label="..." name="radio3">
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio3"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio3"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio3"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..."  checked="checked" name="radio3"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>4</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio4" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio4"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio4"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio4"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio4"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>5</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio5" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio5"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio5"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio5"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio5"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>6</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio6" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio6"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio6"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio6"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio6"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>7</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio7" >
					<span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio7"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio7"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio7"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio7"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>8</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio8" ><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio8"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio8"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio8"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio8"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>

	<div class="delivery-content">
		<div class="inquiry">
			<div class="inquiry-number"><p>9</p></div>
			<div class="inquiry-text"><p>Occaecat eu elit eiusmod officia non quis consectetur pariatur eu aute minim tempor commodo.</p></div>
		</div>
		<div class="inquiry-options">
				<div class="input-group option-1">
					<input type="radio" checked="checked" name="radio9" ><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Unplayed</span>
				</div>
				<div class="input-group option-2">
					<input type="radio" aria-label="..." name="radio9"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Developing</span>
				</div>
				<div class="input-group  option-3">
					<input type="radio" aria-label="..." name="radio9"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Performing</span>
				</div>
				<div class="input-group  option-4">
					<input type="radio" aria-label="..." name="radio9"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Excelling</span>
				</div>
				<div class="input-group option-5">
					<input type="radio" aria-label="..." name="radio9"><span class="visible-xs-block visible-sm-block hidden-md hidden-lg">Not Relevant</span>
				</div>
		</div>
	</div>
	
	
	</div>