<div class="legend">
          <div class="container">
              <div class="row">
                      <div class="col-md-3 col-sm-12">
                          <p class="bold-p">Scale</p>
                          <p>Read the statements below and rate <br/>
                              each one using the following scale.</p>
                      </div>
                      <div class="col-md-9 col-sm-12 scales">
                          <div class="underplayed">
                              <lead>...that is
                                      Underplayed </lead>
                              <p>
                                  A strong
                                  development
                                  area or one they
                                  may not currently
                                  demonstrate </p>
                          </div>
                          <div class="developing">
                              <lead>... you are Developing</lead>
                              <p>A behaviour they
                                  need to develop
                                  further</p>
                          </div>
                          <div class="performing">
                              <lead>...you are Performing well at</lead>
                              <p>A behaviour they
                                  demonstrate
                                  effectively </p>
                          </div>
                          <div class="excelling">
                              <lead>...you are Excelling at</lead>
                              <p>A behaviour
                                  that is a clear
                                  and consistent
                                  strength</p>
                          </div>
                          <div class="not-relevant">
                              <lead>...that is Not Relevant </lead>
                              <p>The behaviour
                                  is not relevant to
                                  their role</p>
                          </div>
                      </div>
              </div>
          </div>
      </div>